<script>
  volantis.message = (title, message, option = {}, done = null) => {
    if (typeof iziToast === "undefined") {
      volantis.css('<%- theme.cdn.map.css.message %>')
      volantis.js('<%- theme.cdn.map.js.message %>', () => {
        tozashMessage(title, message, option, done);
      });
    } else {
      tozashMessage(title, message, option, done);
    }

    function tozashMessage(title, message, option, done) {
      const {
        icon,
        time,
        position,
        transitionIn,
        transitionOut,
        messageColor,
        titleColor,
        backgroundColor,
        zindex,
        displayMode
      } = option;
      iziToast.show({
        layout: '2',
        icon: 'Fontawesome',
        closeOnEscape: 'true',
        displayMode: displayMode || 'replace',
        transitionIn: transitionIn || '<%- theme.plugins.message.transitionIn %>',
        transitionOut: transitionOut || '<%- theme.plugins.message.transitionOut %>',
        messageColor: messageColor || '<%- theme.plugins.message.messageColor %>',
        titleColor: titleColor || '<%- theme.plugins.message.titleColor %>',
        backgroundColor: backgroundColor || '<%- theme.plugins.message.backgroundColor %>',
        zindex: zindex || '<%- theme.plugins.message.zindex %>',
        icon: icon || '<%- theme.plugins.message.icon.default %>',
        timeout: time || '<%- theme.plugins.message.time.default %>',
        position: position || '<%- theme.plugins.message.position %>',
        title: title,
        message: message,
        onClosed: () => {
          if(done) done();
        },
      });
    }
  };

  volantis.question = (title, message, option = {}, success = null, cancel = null, done = null) => {
    if (typeof iziToast === "undefined") {
      volantis.css('<%- theme.cdn.map.css.message %>')
      volantis.js('<%- theme.cdn.map.js.message %>', () => {
        tozashQuestion(title, message, option, success, cancel, done);
      });
    } else {
      tozashQuestion(title, message, option, success, cancel, done);
    }

    function tozashQuestion(title, message, option, success, cancel, done) {
      const {
        icon,
        time,
        position,
        transitionIn,
        transitionOut,
        messageColor,
        titleColor,
        backgroundColor,
        zindex
      } = option;
      iziToast.question({ 
        id: 'question',
        icon: 'Fontawesome',
        close: false,
        overlay: true,
        displayMode: 'once',
        position: 'center',
        messageColor: messageColor || '<%- theme.plugins.message.messageColor %>',
        titleColor: titleColor || '<%- theme.plugins.message.titleColor %>',
        backgroundColor: backgroundColor || '<%- theme.plugins.message.backgroundColor %>',
        zindex: zindex || '<%- theme.plugins.message.zindex %>',
        icon: icon || '<%- theme.plugins.message.icon.quection %>',
        timeout: time || '<%- theme.plugins.message.time.quection %>',
        title: title,
        message: message,
        buttons: [
          ['<button><b>是</b></button>', (instance, toast) => {
            instance.hide({ transitionOut: transitionOut || 'fadeOut' }, toast, 'button');
            if(success) success(instance, toast)
          }],
          ['<button><b>否</b></button>', (instance, toast) => {
            instance.hide({ transitionOut: transitionOut || 'fadeOut' }, toast, 'button');
            if(cancel) cancel(instance, toast)
          }]
        ],
        onClosed: (instance, toast, closedBy) => {
          if(done) done(instance, toast, closedBy);
        }
      });
    }
  }

  volantis.hideMessage = (done = null) => {
    const toast = document.querySelector('.iziToast');
    if (!toast) {
      if(done) done()
      return;
    }
    
    if (typeof iziToast === "undefined") {
      volantis.css('<%- theme.cdn.map.css.message %>')
      volantis.js('<%- theme.cdn.map.js.message %>', () => {
        hideMessage(done);
      });
    } else {
      hideMessage(done);
    }

    function hideMessage(done) {
      iziToast.hide({}, toast);
      if(done) done();
    }
  }

  volantis.messageCopyright = {
    enable: '<%- theme.plugins.message.copyright.enable %>' === 'true' ? true : false,
    title: '<%- theme.plugins.message.copyright.title %>',
    message: '<%- theme.plugins.message.copyright.message %>',
    icon: '<%- theme.plugins.message.copyright.icon %>'
  }

  volantis.messageRightMenu = {
    enable: '<%- theme.plugins.message.rightmenu.enable %>' === 'true' ? true : false,
  }

  if(volantis.messageCopyright.enable) {
    document.body.oncopy = function(){
      volantis.message(volantis.messageCopyright.title, volantis.messageCopyright.message, {
        icon: volantis.messageCopyright.icon
      });
    }; 
  }
</script>
