<script>
  volantis.layoutHelper("comments",`<div id="artalk_container"><i class="fas fa-cog fa-spin fa-fw fa-2x"></i></div>`);
  function load_artalk() {
    if(!document.querySelectorAll("#artalk_container")[0])return;
    volantis.css("<%- theme.comments.artalk.css %>");
    volantis.js("<%- theme.comments.artalk.js %>").then(pjax_artalk);
  }

  function pjax_artalk() {
    if(!document.querySelectorAll("#artalk_container")[0])return;
    let path = pdata.commentPath;
    let placeholder = pdata.commentPlaceholder || "<%= theme.comments.artalk.placeholder %>" || "";
    if (path.length == 0) {
      path = '<%= theme.comments.artalk.path %>' || decodeURI(window.location.pathname);
    }
    new Artalk(Object.assign(<%- JSON.stringify(theme.comments.artalk) %>, {
      el: '#artalk_container',
      pageKey: path,
      pageTitle: document.title,
      pageUrl: window.location.href,
      placeholder: placeholder,
      site: '<%= config.title %>',
      darkMode: volantis.dark.mode === "dark"
    }));
  }

  load_artalk();
  volantis.pjax.push(()=>{
    if (typeof Artalk === "undefined") {
      load_artalk();
    } else {
      pjax_artalk();
    }
  },'artalk');

  function dark_artalk() {
    const container = document.querySelectorAll("#artalk_container")[0];
    if(!container) return;
    if(volantis.dark.mode === "dark") {
      container.classList.add('atk-dark-mode');
    } else {
      container.classList.remove('atk-dark-mode');
    }
  }
  volantis.dark.push(dark_artalk);
</script>
