<script>
  const artalk = {};
  volantis.layoutHelper("comments",`<div id="artalk_container"><i class="fas fa-cog fa-spin fa-fw fa-2x"></i></div>`);
  function load_artalk() {
    if(!document.querySelectorAll("#artalk_container")[0])return;
    volantis.css("<%- theme.comments.artalk.css %>");
    volantis.js("<%- theme.comments.artalk.js %>").then(pjax_artalk);
  }
  function pjax_artalk() {
    if(!document.querySelectorAll("#artalk_container")[0])return;
    let path = pdata.commentPath;
    let placeholder = pdata.commentPlaceholder || "<%= theme.comments.artalk.placeholder %>" || "";
    if (path.length == 0) {
      let defaultPath = '<%= theme.comments.artalk.path %>';
      path = defaultPath || decodeURI(window.location.pathname); //神奇的pathname
    }
    artalk.data = Object.assign(<%- JSON.stringify(theme.comments.artalk) %>, {
      el: '#artalk_container',
      pageKey: path,
      pageTitle: pdata.postTitle || document.title,
      pageUrl: window.location.href,
      placeholder: placeholder,
      site: '<%= config.title %>',
      darkMode: volantis.dark.mode === "dark"
    });
    new Artalk(artalk.data);
  }

  load_artalk();
  volantis.pjax.push(()=>{
    if (typeof Artalk == "undefined") {
      load_artalk();
    } else {
      load_artalk();
    }
  },'artalk');

  function dark_artalk() {
    if(!document.querySelectorAll("#artalk_container")[0])return;
    artalk.data.darkMode = volantis.dark.mode === "dark";
    new Artalk(artalk.data);
  }
  volantis.dark.push(dark_artalk);
</script>
