<%- partial('_pre') %>
<div id="l_main" class='<%- page.sidebar == false ? ' no_sidebar' : '' %>'>
	<% if (page.year || page.month) { %>
		<%- partial('_partial/archive') %>
	<% } else { %>
	  <article id="arc" class="post article white-box reveal <%- theme.custom_css.body.effect.join(' ') %>">
			<% var year = -1, postid = -1; %>
			<% site.posts.sort('date', -1).each(function(post) { %>
				<% post.year = date(post.date, 'YYYY'); %>
				<% if (post.archive == undefined || post.archive == true) { %>
					<% if (post.year && post.year !== year) { %>
						<% year = post.year; %>
						<h2><%= year %></h2>
					<% } %>
						<div class='timenode'>
								<a class="meta" href="<%= url_for(post.link || post.path) %>">
									<time><%= date(post.date, 'MM-DD') %></time>
									<% if(post.title || post.seo_title){ %>
										<%- post.title || post.seo_title %>
									<% } else if (post.date) { %>
										<%= date(post.date, config.date_format) %>
									<% } %>
									<% if(theme.plugins.aplayer && theme.plugins.aplayer.enable && post.music && post.music.enable != false){ %>
										&nbsp;<i class="fas fa-headphones-alt music" aria-hidden="true"></i>
									<% } %>
									<% if (post.icon) { %>
										&nbsp;<i class="<%- post.icon %>" aria-hidden="true"></i>
									<% } %>
									<% (post.icons && post.icons||[]).forEach(function(icon){ %>
										&nbsp;<i class="<%- icon %>" aria-hidden="true"></i>
									<% }) %>
								</a>
						</div>
				<% } %>
			<% }); %>
	  </article>
	<% } %>
</div>
<%- partial('_partial/side') %>
