
<% if (page.prev == 0) { %>
  <div class="home-wrapper">
    <div class='home-cover'>
      <% if (theme.home_cover.logo) { %>
        <img class='logo' src='<%- url_for(theme.home_cover.logo) %>'/>
      <% } else { %>
        <h1 class='title'><%- theme.home_cover.title ? theme.home_cover.title : config.title %></h1>
      <% } %>
      <br>
      <% if (theme.search.enable === true) { %>
        <div class="m_search">
          <form name="searchform" class="form u-search-form">
            <input type="text" class="input u-search-input" placeholder="<%- theme.home_cover.search_placeholder %>" />
            <span class="icon"><i class="fas fa-search fa-fw"></i></span>
          </form>
        </div>
      <% } %>
      <div class='menu'>
        <ul class='h-list'>
          <% if (theme.home_cover.menu) { %>
            <% (theme.home_cover.menu || []).forEach(function(value){ %>
              <li>
                <% if (value.url == '#posts') { %>
                  <a id="<%= url_for(value.url).replace(/\/|%/g, "")?url_for(value.url).replace(/\/|%/g, ""):"home" %>"
                   class="posts" >
                    <i class='<%= value.icon %> fa-fw'></i>&nbsp;<%= __('navbar.'+value.name) == ('navbar.'+value.name) ? value.name : __('navbar.'+value.name) %>
                  </a>
                <% } else { %>
                  <a id="<%= url_for(value.url).replace(/\/|%/g, "")?url_for(value.url).replace(/\/|%/g, ""):"home" %>"
                   class="nav home" href="<%= url_for(value.url) %>" >
                    <i class='<%= value.icon %> fa-fw'></i>&nbsp;<%= __('navbar.'+value.name) == ('navbar.'+value.name) ? value.name : __('navbar.'+value.name) %>
                  </a>
                <% } %>
              </li>
            <%})%>
          <% } %>
        </ul>
      </div>
    </div>
    <%- partial('_partial/header', null, {cache: !config.relative_link, path: path}) %>
  </div>
<% } else { %>
  <%- partial('_partial/header', null, {cache: !config.relative_link, path: path}) %>
<% } %>
<div class="l_body" id='posts'>
  <div class='container clearfix'>
    <div class='l_main'>
      <%- partial('_partial/archive') %>
    </div>
    <%- partial('_partial/side') %>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    <script>setLoadingBarProgress(60);</script>
  </div>
  <a class="s-top fas fa-arrow-up fa-fw" href='javascript:void(0)'></a>
</div>
