<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
<%- partial('_partial/cover') %>
<div class="l_body<%- page.cover ? '' : ' nocover' %>">
    <div class='body-wrapper' id="pjax-container">
        <%- body %>
        <%- partial('_partial/pjaxData') %>
    </div>
    <a class="s-top fal fa-arrow-up fa-fw" href='javascript:void(0)'></a>
</div>
<%- partial('_partial/scripts') %>

</body>
</html>
