<!DOCTYPE html>
<html class="1">
<link href="./img/favicon_circle32.ico" mce_href="favicon.ico" rel="bookmark" type="image/x-icon" />
<link href="./img/favicon_circle32.ico" mce_href="favicon.ico" rel="icon" type="image/x-icon" />
<link href="./img/favicon_circle32.ico" mce_href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
<%- partial('_partial/head') %>

<body>
    <%- partial('_partial/cover') %>
    <div class="l_body<%- page.cover ? '' : ' nocover' %>">
        <div class='body-wrapper'>
            <%- body %>
            <script>setLoadingBarProgress(60);</script>
        </div>
        <a class="s-top fas fa-arrow-up fa-fw" href='javascript:void(0)'></a>
    </div>
    <%- partial('_partial/scripts') %>
    <script>setLoadingBarProgress(100);</script>
</body>
<canvas class="fireworks" style="position: fixed;left: 0;top: 0;z-index: 1; pointer-events: none;"></canvas>
<script type="text/javascript" src="//cdn.bootcss.com/animejs/2.2.0/anime.min.js"></script>
<script type="text/javascript" src="/js/fireworks.js"></script>

</html>