<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/cover') %>
  <div class="l_body<%- page.cover ? '' : ' nocover' %>">
    <div class='body-wrapper' id="pjax-container">
      <% if (theme.plugins.pjax.enable) { %>
        <%- partial('_third-party/pjaxdata') %>
      <% } %>
      <%- body %>
    </div>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    <a class="s-top fas fa-arrow-up fa-fw" href='javascript:void(0)'></a>
  </div>
  <div>
    <%- partial('_partial/scripts') %>
    <% if (theme.plugins.pjax.enable) { %>
      <%- partial('_third-party/pjax') %>
    <% } %>
  </div>
</body>
</html>
