<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/cover') %>
  <div class="l_body<%- page.cover ? '' : ' nocover' %>">
    <div class='body-wrapper'>
      <%- body %>
      <script>setLoadingBarProgress(60);</script>
    </div>
    <a class="s-top fas fa-arrow-up fa-fw" href='javascript:void(0)'></a>
  </div>
  <%- partial('_partial/scripts') %>
  <script>setLoadingBarProgress(100);</script>
</body>
</html>
