<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
  <% if (!page.prev && theme.cover) { %>
    <div class="cover-wrapper">
      <div class='cover <%- is_home() ? theme.cover.height : "half" %>'>
        <% if (theme.cover.scheme == 'search') { %>
          <%- partial('_cover/search') %>
        <% } %>
      </div>
      <%- partial('_partial/header', null, {cache: !config.relative_link, path: path}) %>
    </div>
  <% } else { %>
    <%- partial('_partial/header', null, {cache: !config.relative_link, path: path}) %>
  <% } %>
  <div class="l_body">
    <div class='body-wrapper clearfix'>
      <%- body %>
      <script>setLoadingBarProgress(60);</script>
    </div>
    <a class="s-top fas fa-arrow-up fa-fw" href='javascript:void(0)'></a>
  </div>
  <%- partial('_partial/scripts') %>
  <script>setLoadingBarProgress(100);</script>
</body>
</html>
