<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
    <%- partial('_partial/loading') %>
    <script>setLoadingBarProgress(20)</script>
    <%- partial('_partial/header', null, {cache: !config.relative_link, path: path}) %>
    <script>setLoadingBarProgress(40);</script>
    <div class="l_body">
    <div class='container clearfix'>
        <div class='l_main'>
            <%- body %>
        </div>
        <aside class='l_side'>
            <%- partial('_partial/side') %>
        </aside>
        <script>setLoadingBarProgress(60);</script>
    </div>
    <a class="s-top fas fa-arrow-up fa-fw" href='javascript:void(0)'></a>
    </div>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    <script>setLoadingBarProgress(80);</script>
    <%- partial('_partial/scripts') %>
    <script>setLoadingBarProgress(100);</script>
</body>
</html>
