<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/header', null, {cache: false, path: path}) %>
  <div class="l_body">
    <%- partial('_partial/cover') %>
    <div class='safearea'>
      <div class='body-wrapper' id="pjax-container">
        <% if (theme.plugins.pjax.enable) { %>
          <%- partial('_third-party/pjax/data') %>
        <% } %>
        <%- body %>
      </div>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
      <a class="s-top fas fa-arrow-up fa-fw" href='javascript:void(0)'></a>
    </div>
  </div>
  <div>
    <% if (theme.rightmenu && theme.rightmenu.enable == true) { %>
      <%- partial('_partial/rightmenu') %>
    <% } %>
    <%- partial('_partial/scripts/index') %>
    <% if (theme.plugins.pjax.enable) { %>
      <%- partial('_third-party/pjax/index') %>
    <% } %>
  </div>
</body>
</html>
