<article id="<%= page.layout %>" class="post white-box article-type-<%= page.layout %>" itemscope itemprop="blogPost">
  <%- partial('_partial/meta',{post:page}) %>
    <section class="article typo l_friends">
      <% if (page.links){ %>
        <% (page.links||[]).forEach(function(group){ %>
          <% if(group.items) { %>
            <div class='friends-group'>
              <% if(group.group) { %>
                <h2 class='friend-header'>
                  <% if (group.icon) { %>
                    <i class="<%= group.icon %> fa-fw" aria-hidden="true"></i>
                  <%} %>
                  <%= group.group %>
                </h2>
              <%} %>
              <div class='friend-content'>
                <% (group.items||[]).forEach(function(item){ %>
                  <a class='friend-card' style='background:<%- item.backgroundColor %>; color:<%- item.textColor %>'
                    target="_blank" rel="external nofollow noopener noreferrer" href='<%- url_for(item.url) %>'>
                    <div class='friend-left'>
                      <img class='avatar' src='<%- theme.loading_img %>' data-echo='<%- url_for(item.avatar ? item.avatar : "https://img.vim-cn.com/a4/87a96e2e01b1180bba1e76e190df5220378c1a.png") %>'/>
                    </div>
                    <div class='friend-right'>
                      <p class="friend-name"><%- item.name %></p>
                      <% if(item.tags){ %>
                        <div class='friend-tags-wrapper'>
                        <% (item.tags||[]).forEach(function(tag){ %>
                          <p class="tags"><i class="fas fa-hashtag fa-fw" aria-hidden="true"></i><%= tag %></p>
                        <% }) %>
                        </div>
                      <% } %>
                    </div>
                  </a>
                <% }) %>
              </div>
            </div>
          <%} %>
        <% }) %>
      <% } %>
      <br><hr>
      <%- page.content %>
    </section>
</article>

<br>

<%- partial('_third-party/comments') %>
