<%- partial('_pre') %>
<% page.comments = false; %>
<div class='l_main<%- page.sidebar == false ? ' no_sidebar' : '' %>'>
  <% if (site.pages && site.pages.length > 0) { %>
    <section class="post-list <%- theme.layout.multiple_columns ? 'multiple-columns' : '' %>">
      <% site.pages.sort("-date").each(function(post){ %>
        <% if (post.group && post.group == page.group && post.layout != 'list') { %>
          <div class='post-wrapper'>
            <%- partial('_partial/post', {post: post, index: false}) %>
          </div>
        <% } %>
      <% }) %>
      <% site.posts.sort("-date").each(function(post){ %>
        <% if (post.group && post.group == page.group && post.layout != 'list') { %>
          <div class='post-wrapper'>
            <%- partial('_partial/post', {post: post, index: false}) %>
          </div>
        <% } %>
      <% }) %>
    </section>
    <% if (page && page.posts) { %>
      <!-- 根据主题中的设置决定是否在archive中针对摘要部分的MathJax公式加载mathjax.js文件 -->
      <%
      var need_mathjax = false;
      page.posts.each(function(post){
        if (post.mathjax){
          if (post.mathjax != "internal") {
            need_mathjax = true;
          }
        }
      });
      %>
      <% if (need_mathjax){ %>
        <%- partial('_third-party/math/mathjax/script') %>
      <% } %>

    <% } %>
  <% } %>
</div>
<%- partial('_partial/side') %>
