<% page.comments = false; %>
<div class='l_main'>
  <% if (site.posts && site.posts.length > 0) { %>
    <% if (page.layout == 'tag') { %>
      <section class="post-list">
        <div class='post-wrapper'>
          <article id="archive-page" class="post article white-box">
            <section class="archive">
              <div class="archive-item archive-year mark">
                <h2><%- page.title %></h2>
                <hr>
              </div>
              <div class="archive-item archive-post mark">
                <% if (site.tags.length){ %>
                  <% site.tags.sort('path').each(function(tags){ %>
                    <% if (tags.posts.length){ %>
                      <a class="<%= tags.parent ? ' child' : ''%>" href="<%= url_for(tags.path) %>">
                        <time><i class='fas fa-tag fa-fw' aria-hidden="true"></i>&nbsp;&nbsp;<%= tags.name %></time>
                        <span class="title">
                          (<%- tags.posts.length %>)
                        </span>
                      </a>
                    <% } %>
                  <% }) %>
                <% } %>
              </div>
              <br>
              <%- page.content %>
            </section>
          </article>
        </div>
      </section>
    <% } else { %>
      <%- partial('_partial/archive') %>
    <% } %>
  <% } %>
</div>
<%- partial('_partial/side') %>
<%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
