<%- partial('_pre') %>
<% page.comments = false; %>
<div class='l_main<%- page.sidebar == false ? ' no_sidebar' : '' %>'>
  <% if (site.posts && site.posts.length > 0) { %>
    <% if (page.layout == 'tag') { %>
      <div class='post-wrapper'>
        <article id="tag" class="post article white-box reveal <%- theme.custom_css.body.effect.join(' ') %>">
          <h2><%- page.title %></h2>
          <div class="all-tags">
            <% let tc = theme.sidebar.widget_library.tagcloud; %>
            <%- list_tags({}) %>
          </div>
          <br>
          <%- page.content %>
        </article>
      </div>
    <% } else { %>
      <%- partial('_partial/archive') %>
    <% } %>
  <% } %>
</div>
<%- partial('_partial/side') %>
