<%- partial('_pre') %>
<% page.comments = false; %>
<div class='l_main<%- page.sidebar == false ? ' no_sidebar' : '' %>'>
  <% if (site.posts && site.posts.length > 0) { %>
    <% if (page.layout == 'tag') { %>
      <section class="post-list <%- theme.layout.multiple_columns ? 'multiple-columns' : '' %>">
        <div class='post-wrapper'>
          <article id="archive-page" class="post article white-box reveal <%- theme.style.body.effect.join(' ') %>">
            <section class="archive">
              <div class="archive-item archive-year mark">
                <h2><%- page.title %></h2>
              </div>
              <div class="archive-item all-tags">
                <% let tc = theme.widget.tagcloud; %>
                <%- list_tags({}) %>
              </div>
              <br>
              <%- page.content %>
            </section>
          </article>
        </div>
      </section>
    <% } else { %>
      <%- partial('_partial/archive') %>
    <% } %>
  <% } %>
</div>
<%- partial('_partial/side') %>
