<% if(config.widgets.author.enable != false) { %>
    <section class='m_widget author'>
        <% if(config.widgets.author.avatar || config.avatar) { %>
            <div class='header'>
                <img class='avatar' src='<%= url_for(config.widgets.author.avatar || config.avatar) %>'/>
            </div>
        <%} %>
        <% if (config.widgets.author.title || config.widgets.author.motto){ %>
            <div class='content'>
                <% if (config.widgets.author.title){ %>
                    <h2><%= config.widgets.author.title %></h2>
                <% } %>
                <% if (config.widgets.author.motto){ %>
                    <p><%= config.widgets.author.motto %></p>
                <% } %>
            </div>
        <% } %>
        <% if (config.widgets.author.social){ %>
            <div class="social-wrapper">
              <% (config.social||[]).forEach(function(value){ %>
                <% if (value.url && value.icon) { %>
                    <a href="<%= value.url %>" class="social flat-box" target="_blank" rel="external"><i class="social <%= value.icon %>" aria-hidden="true"></i></a>
                <%}%>
              <%})%>
            </div>
        <% } %>
    </section>
<% } %>
