<% if(theme.widgets.author.enable != false) { %>
    <section class='m_widget author'>
        <% if(theme.widgets.author.avatar == true && config.avatar.length) { %>
            <div class='header'>
                <img class='avatar' src='<%= url_for(config.avatar) %>'/>
            </div>
        <%} %>
        <% if (theme.widgets.author.title == true || theme.widgets.author.motto == true){ %>
            <div class='content'>
                <% if (theme.widgets.author.title == true){ %>
                    <h2><%= config.title %></h2>
                <% } %>
                <% if (theme.widgets.author.motto){ %>
                    <p><%= config.motto %></p>
                <% } %>
            </div>
        <% } %>
        <% if (theme.widgets.author.social == true && config.social.length){ %>
            <div class="social-wrapper">
              <% (config.social||[]).forEach(function(value){ %>
                <% if (value.url && value.icon) { %>
                    <a href="<%= value.url %>" class="social flat-box" target="_blank" rel="external"><i class="social <%= value.icon %>" aria-hidden="true"></i></a>
                <%}%>
              <%})%>
            </div>
        <% } %>
    </section>
<% } %>
