<section class='m_widget' id='categories'>
    <header class='header <%= theme.style %>'>
        <div><i class="<%= theme.widgets.categories.icon %> fa-fw" aria-hidden="true"></i>&nbsp;&nbsp;<%= theme.widgets.categories.title %></div>
    </header>
    <div class='content <%= theme.style %>'>
        <% if (site.categories.length){ %>
            <ul class="entry">
                <% site.categories.sort('name').each(function(item){ %>
                    <li><a class="flat-box" href="<%= url_for(item.path) %>"><div class='name'><%= item.name %></div><div class='badge'>(共<%= item.posts.length %>篇)</div></a></li>
                <% }); %>
            </ul>
        <% } %>
    </div>
</section>
