<% if (site.categories.length){ %>
  <%- partial('_pre') %>
  <section class="widget <%- item.class %> <%- page.widget_style %> <%- page.widget_platform %>">
    <%- partial('header', {item: item}) %>
    <div class='content'>
      <ul class="entry navigation">
        <% site.categories.sort('path').each(function(category){ %>
          <li><a class="flat-box<%= category.parent ? ' child' : ''%>"
            title="<%- url_for(category.path) %>" href="<%- url_for(category.path) %>"
            id="<%= url_for(category.path).replace(/\/|%|\./g, "")?url_for(category.path).replace(/\/|%|\./g, ""):"home" %>"
            ><div class='name'><%- category.name %></div><div class='badge'>(<%- category.posts.length %>)</div></a></li>
        <% }) %>
      </ul>
    </div>
  </section>
<% } %>
