<%
var plats = [];
if (item.display) {
  item.display.forEach(function(plat){
    plats.push(plat);
  });
} else {
  plats = ['desktop', 'mobile'];
}
%>
<section class="widget <%- theme.style.shadow.card ? 'card-shadow' : '' %> <%- theme.style.blur && theme.style.blur.widget ? 'widget-blur' : '' %> <%- item.class %> <%- plats.join(' ') %>">
  <div class='content'>
    <% if (item.blockquote == true) { %>
      <blockquote>
        <% (item.content||[]).forEach(function(row){ %>
          <% if (row == 'permalink') { %>
            <p><%- item.permalink %><a href=<%- page.permalink %>><%- page.permalink %></a></p>
          <% } else { %>
            <%- markdown(row) %>
          <% } %>
        <% }) %>
      </blockquote>
    <% } else { %>
      <% (item.content||[]).forEach(function(row){ %>
        <% if (row == 'permalink') { %>
          <p><%- item.permalink %><a href=<%- page.permalink %>><%- page.permalink %></a></p>
        <% } else { %>
          <%- markdown(row) %>
        <% } %>
      <% }) %>
    <% } %>
  </div>
</section>
