<%- partial('_pre') %>
<section class="widget <%- item.class %> <%- page.widget_style %> <%- page.widget_platform %>">
  <div class='content'>
    <% if (item.blockquote == true) { %>
      <blockquote>
        <% (item.content||[]).forEach(function(row){ %>
          <% if (row == 'permalink') { %>
            <p><%- item.permalink %><a href=<%- page.permalink %>><%- page.permalink %></a></p>
          <% } else { %>
            <%- markdown(row) %>
          <% } %>
        <% }) %>
      </blockquote>
    <% } else { %>
      <% (item.content||[]).forEach(function(row){ %>
        <% if (row == 'permalink') { %>
          <p><%- item.permalink %><a href=<%- page.permalink %>><%- page.permalink %></a></p>
        <% } else { %>
          <%- markdown(row) %>
        <% } %>
      <% }) %>
    <% } %>
  </div>
</section>
