<section class='widget <%- theme.blur.widget ? 'widget-blur' : '' %> <%- item.class %>'>
  <div class='content <%= theme.style %>'>
    <% if (item.blockquote == true) { %>
      <blockquote>
        <% (item.content||[]).forEach(function(row){ %>
          <% if (row == 'permalink') { %>
            <p><%- item.permalink %><a href=<%- page.permalink %>><%- page.permalink %></a></p>
          <% } else { %>
            <%- markdown(row) %>
          <% } %>
        <% }) %>
      </blockquote>
    <% } else { %>
      <% (item.content||[]).forEach(function(row){ %>
        <% if (row == 'permalink') { %>
          <p><%- item.permalink %><a href=<%- page.permalink %>><%- page.permalink %></a></p>
        <% } else { %>
          <%- markdown(row) %>
        <% } %>
      <% }) %>
    <% } %>
  </div>
</section>
