<section class='widget <%- theme.style.shadow.card ? 'card-shadow' : '' %> <%- theme.style.blur && theme.style.blur.widget ? 'widget-blur' : '' %> <%- item.class %>'>
  <%- partial('header', {item: item}) %>
  <div class='content'>
    <% if (item.fancybox == true) { %>
      <fancybox>
        <% (item.images||[]).forEach(function(url){ %>
          <img src='<%- url_for(url) %>' height='<%- item.height %>'>
        <% }) %>
      </fancybox>
    <% } else { %>
      <% (item.images||[]).forEach(function(url){ %>
        <img src='<%- url_for(url) %>' height='<%- item.height %>'>
      <% }) %>
    <% } %>
  </div>
</section>
