<%- partial('_pre') %>
<section class="widget <%- item.class %> <%- page.widget_style %> <%- page.widget_platform %> <%- page.widget_pjax %>">
  <%- partial('header', {item: item}) %>
  <div class='content'>
    <div class="grid navigation<%- item.fixed ? ' fixed' : '' %>">
      <% (item.rows||[]).forEach(function(row){ %>
        <a class="flat-box" href="<%- url_for(row.url) %>"
          <% if (row.rel) { %>
            rel="<%- row.rel %>"
          <% } %>
          <% if (row.target) { %>
            target="<%- row.target %>"
          <% } %>
          active-action="action-<%= url_for(row.url).replace(/\/|%|\./g, "")?url_for(row.url).replace(/\/|%|\./g, ""):"home" %>">
          <% if (row.img) { %>
            <img src="<%- row.img %>">
          <% } else if(row.avatar) { %>
            <img src="<%- row.avatar %>" id="round">
          <% } else { %>
            <i class="<%= row.icon %> fa-fw" aria-hidden="true"></i>
          <% } %>
          <%- row.name %>
        </a>
      <% }) %>
    </div>
  </div>
</section>
