<%
  let icon = item.icon ? item.icon : defIcon;
  let title = item.title ? item.title : defTitle;
%>
<header class='<%= theme.style %>'>
  <div><i class="<%- icon %> fa-fw" aria-hidden="true"></i>&nbsp;&nbsp;<%- title %></div>
  <% if (item.widget == 'toc') { %>
    <div class='wrapper'><a class="s-toc rightBtn" rel="external nofollow noopener noreferrer" href="javascript:void(0)"><i class="fas fa-thumbtack fa-fw"></i></a></div>
  <% } else if(item.more && item.more.url) { %>
    <a class="rightBtn<%- item.more.animate ? ' ' + item.more.animate : '' %>" target="_blank"
    rel="external nofollow noopener noreferrer"
    href="<%- url_for(item.more.url) %>"
    title="<%- item.more.url %>">
    <i class="<%- item.more.icon?item.more.icon:'fas fa-question-circle' %> fa-fw"></i></a>
  <% } %>
</header>
