<%- partial('_pre') %>
<section class="widget <%- page.widget_platform %>">
    <%- partial('header', {item: item}) %>
    <div class='content'>
        <div class='bber-talk' onclick=`location.pathname='<%- item.memos_page %>'>
            <ul class='talk-list'><%- item.placeholder %></ul>
        </div>
    </div>
    <script>
        // 存数据
        function saveData(name, data) { localStorage.setItem(name, JSON.stringify({ 'time': Date.now(), 'data': data })) };
        // 取数据
        function loadData(name, time) {
            let d = JSON.parse(localStorage.getItem(name));
            // 过期或有错误返回 0 否则返回数据
            if (d) {
                let t = Date.now() - d.time
                if (-1 < t && t < (time * 60000)) return d.data;
            }
            return 0;
        };

        let talkTimer = null;
        function indexTalk() {
            if (talkTimer) {
                clearInterval(talkTimer)
                talkTimer = null;
            }
            if (!document.getElementsByClassName('bber-talk')) return

            function toText(ls) {
                let text = []
                ls.forEach(item => {
                    text.push(item.content.replace(/#(.*?)\s/g, '').replace(/\{(.*?)\}/g, '').replace(/\!\[(.*?)\]\((.*?)\)/g, '<i class="<%- item.image %>"></i>').replace(/\[(.*?)\]\((.*?)\)/g, '<i class="<%- item.link %>"></i>'))
                });
                return text
            }

            function talk(ls) {
                let html = ''
                ls.forEach((item, i) => { html += `<li class="item item-${i + 1}">${item}</li>` });
                let box = document.querySelector(".bber-talk .talk-list")
                box.innerHTML = html;
                talkTimer = setInterval(() => {
                    box.appendChild(box.children[0]);
                }, 3000);
            }

            let d = loadData('talk', 10);
            if (d) talk(d);
            else {
                <% var api = item.url; %>
                <% if (!api.endsWith("/")) { %>
                    <% api += "/"; %>
                <% } %>
                fetch('<%- api %>api/memo?creatorId=<%- item.creatorId %>&tag=<%- item.tag %>&limit=<%- item.limit %>').then(res => res.json()).then(data => { // 更改地址
                    data = toText(data.data)
                    talk(data);
                    saveData('talk', data);
                })
            }
        }
        indexTalk();
    </script>
</section>