<section class='m_widget music'>
  <header class='header <%= theme.style %>'>
    <div><i class="<%= theme.widgets.music.icon %> fa-fw" aria-hidden="true"></i>&nbsp;&nbsp;<%= theme.widgets.music.title %></div>
    <a class="rightBtn" target="_blank" rel="external nofollow noopener noreferrer" href="<%= theme.widgets.music.link %>"><i class="far fa-heart fa-fw"></i></a>
  </header>
  <div class='content <%= theme.style %>'>
    <div class="aplayer" data-theme="<%= theme.widgets.music.color %>"
      data-mode="<%= theme.widgets.music.mode %>"
      data-server="<%= theme.widgets.music.server %>"
      data-type="<%= theme.widgets.music.type %>"
      data-id="<%= theme.widgets.music.id %>"
      data-volume="<%= theme.widgets.music.volume %>"></div>
  </div>
</section>
