<%- partial('_pre') %>
<% if (theme.plugins.aplayer.enable == true) { %>
  <section class='widget <%- page.widget_platform %> <%- page.widget_pjax %> <%- item.class %>'>
    <%- partial('header', {item: item}) %>
    <div class='content'>
      <%- partial('../_plugins/aplayer/layout', {post: null, where: 'widget'}) %>
    </div>
  </section>
<% } %>
