<% if(page.layout == 'post' && page.content && page.path != undefined){ %>
  <%- partial('_pre') %>
  <section class="widget <%- item.class %> <%- page.widget_platform %> <%- page.widget_pjax %>">
    <%- partial('header', {item: item}) %>
    <div class="content">
      <%- popular_posts( { maxCount: item.max_count , ulClass: 'popular-posts' , PPMixingRate: 0.2 } , page ) %>
    </div>
  </section>
<% } %>
