<% if(page.layout == 'post' && page.content && page.path != undefined){ %>
  <%
  var plats = [];
  if (item.display) {
    item.display.forEach(function(plat){
      plats.push(plat);
    });
  } else {
    plats = ['desktop', 'mobile'];
  }
  %>
  <section class="widget <%- theme.style.shadow.card ? 'card-shadow' : '' %> <%- theme.style.blur && theme.style.blur.widget ? 'widget-blur' : '' %> <%- item.class %> <%- plats.join(' ') %>">
    <%- partial('header', {item: item}) %>
    <div class="content">
      <%- popular_posts( { maxCount: 10 , ulClass: 'popular-posts' , PPMixingRate: 0.2 } , page ) %>
    </div>
  </section>
<% } %>
