<% if (site.tags.length){ %>
  <%
  var plats = [];
  if (item.display) {
    item.display.forEach(function(plat){
      plats.push(plat);
    });
  } else {
    plats = ['desktop', 'mobile'];
  }
  %>
  <section class="widget <%- theme.style.shadow.card ? 'card-shadow' : '' %> <%- theme.style.blur && theme.style.blur.widget ? 'widget-blur' : '' %> <%- item.class %> <%- plats.join(' ') %>">
    <%- partial('header', {item: item}) %>
    <div class='content'>
      <%- tagcloud(site.tags, {
          min_font: item.min_font,
          max_font: item.max_font,
          color: item.color,
          start_color: item.start_color,
          end_color: item.end_color,
      }) %>
    </div>
  </section>
<% } %>
