<% if (site.tags.length){ %>
  <%- partial('_pre') %>
  <section class="widget <%- item.class %> <%- page.widget_style %> <%- page.widget_platform %>">
    <%- partial('header', {item: item}) %>
    <div class='content'>
      <%- tagcloud(site.tags, {
          min_font: item.min_font,
          max_font: item.max_font,
          color: item.color,
          start_color: item.start_color,
          end_color: item.end_color,
      }) %>
    </div>
  </section>
<% } %>
