<section class='widget <%- theme.blur.widget ? 'widget-blur' : '' %> <%- item.class?item.class:'text' %>'>
  <%- partial('header', {item: item}) %>
  <div class='content <%= theme.style %>'>
    <% (item.content||[]).forEach(function(row){ %>
      <p>
        <%- markdown(row) %>
      </p>
    <% }) %>
  </div>
</section>
