<%- partial('_pre') %>
<section class="widget <%- item.class %> <%- page.widget_style %> <%- page.widget_platform %>">
  <%- partial('header', {item: item}) %>
  <div class='content'>
    <% (item.content||[]).forEach(function(row){ %>
      <%- markdown(row) %>
    <% }) %>
  </div>
</section>
