<section class='widget <%- theme.style.shadow.card ? 'card-shadow' : '' %> <%- theme.style.blur && theme.style.blur.widget ? 'widget-blur' : '' %> <%- item.class?item.class:'text' %>'>
  <%- partial('header', {item: item}) %>
  <div class='content'>
    <% (item.content||[]).forEach(function(row){ %>
      <p>
        <%- markdown(row) %>
      </p>
    <% }) %>
  </div>
</section>
