<% if(page.layout == 'post' && page.content && page.toc!==false && toc(page.content).length > 0){ %>
    <section class='m_widget toc-wrapper'>
        <header class="header <%= theme.style %>">
            <div><i class="<%= theme.widgets.toc.icon %> fa-fw" aria-hidden="true"></i>&nbsp;&nbsp;<%= theme.widgets.toc.title %></div>
            <div class='wrapper'><a class="s-toc rightBtn" title="固定到顶部" rel="external nofollow noopener noreferrer" href="javascript:void(0)"><i class="fas fa-thumbtack fa-fw"></i></a></div>
        </header>
        <div class='content <%= theme.style %>'>
            <%- toc(page.content, {list_number: false}) %>
        </div>
    </section>
<% } %>
