<%- partial('_pre') %>
<section class="widget <%- page.widget_style %> <%- page.widget_platform %>">
  <%- partial('header', {item: item}) %>
  <div class='content'>
    <div class="webinfo">
      <% if (item.type.article.enable) { %>
        <div class="webinfo-item">
          <div><%= item.type.article.text %></div>
          <div><%= site.posts.length %> <%= item.type.article.unit %></div>
        </div>
      <% } %>

      <% if (item.type.runtime.enable) { %>
        <div class="webinfo-item">
          <div><%= item.type.runtime.text %></div>
          <div id="webinfo-runtime-count" publish_date="03/24/2020 21:34:09"></div>
        </div>
        <script>
          var BirthDay = new Date(new Date('<%= item.type.runtime.data %>'));
          var today = new Date();
          var timeold = (today.getTime() - BirthDay.getTime());
          var daysold = Math.floor(timeold / (24 * 60 * 60 * 1000));
          document.getElementById('webinfo-runtime-count').innerHTML = daysold + ' <%= item.type.runtime.unit %>';
        </script>
      <% } %>


      <% if (item.type.wordcount.enable && theme.plugins.wordcount.enable) { %>
        <div class="webinfo-item">
          <div><%= item.type.wordcount.text %></div>
          <div><%= totalcount(site) %> <%= item.type.wordcount.unit %></div>
        </div>
      <% } %>

      <% if (item.type.visitcounter.siteuv.enable && item.type.visitcounter.service) { %>
        <div class="webinfo-item">
          <div><%= item.type.visitcounter.siteuv.text %></div>
          <% if (item.type.visitcounter.service == "busuanzi") {%>
          <div><span id="busuanzi_value_site_uv"><i class="fas fa-fan fa-spin fa-fw" aria-hidden="true"></i></span> <%= item.type.visitcounter.siteuv.unit %></div>
          <% } else if (item.type.visitcounter.service == "leancloud") { %>
          <div><span id="lc-uv"><span id='number'><i class="fas fa-circle-notch fa-spin fa-fw" aria-hidden="true"></i></span></span> <%= item.type.visitcounter.siteuv.unit %></div>
          <% } %>
        </div>
      <% } %>

      <% if (item.type.visitcounter.sitepv.enable && item.type.visitcounter.service) { %>
        <div class="webinfo-item">
          <div><%= item.type.visitcounter.sitepv.text %></div>
          <% if (item.type.visitcounter.service == "busuanzi") {%>
          <div><span id="busuanzi_value_site_pv"><i class="fas fa-fan fa-spin fa-fw" aria-hidden="true"></i></span> <%= item.type.visitcounter.sitepv.unit %></div>
          <% } else if (item.type.visitcounter.service == "leancloud") { %>
          <div><span id="lc-sv"><span id='number'><i class="fas fa-circle-notch fa-spin fa-fw" aria-hidden="true"></i></span></span> <%= item.type.visitcounter.sitepv.unit %></div>
          <% } %>
        </div>
      <% } %>

      <% if (item.type.lastupd.enable) { %>
        <div class="webinfo-item">
          <div><%= item.type.lastupd.text %></div>
          <% if (item.type.lastupd.friendlyShow) { %>
            <div id="last-update" style="display: none;"><%= new Date() %></div>
            <div id="last-update-show"><%- date(Date.now()) %> <%= item.type.lastupd.unit %></div>
          <% } else { %>
            <div><%- date(Date.now()) %> <%= item.type.lastupd.unit %></div>
          <% } %>
        </div>
        <% if (item.type.lastupd.friendlyShow) { %>
        <script>
          function timeago(dateTimeStamp) {
              var minute = 1000 * 60; //把分，时，天，周，半个月，一个月用毫秒表示
              var hour = minute * 60;
              var day = hour * 24;
              var week = day * 7;
              var month = day * 30;
              var now = new Date().getTime(); //获取当前时间毫秒
              var diffValue = now - dateTimeStamp; //时间差
              if (diffValue < 0) {
                  return;
              }
              var minC = diffValue / minute; //计算时间差的分，时，天，周，月
              var hourC = diffValue / hour;
              var dayC = diffValue / day;
              var weekC = diffValue / week;
              var monthC = diffValue / month;
              if (monthC >= 1 && monthC <= 3) {
                  result = " " + parseInt(monthC) + " 月前"
              } else if (weekC >= 1 && weekC <= 3) {
                  result = " " + parseInt(weekC) + " 周前"
              } else if (dayC >= 1 && dayC <= 6) {
                  result = " " + parseInt(dayC) + " 天前"
              } else if (hourC >= 1 && hourC <= 23) {
                  result = " " + parseInt(hourC) + " 小时前"
              } else if (minC >= 1 && minC <= 59) {
                  result = " " + parseInt(minC) + " 分钟前"
              } else if (diffValue >= 0 && diffValue <= minute) {
                  result = "刚刚"
              } else {
                  var datetime = new Date();
                  datetime.setTime(dateTimeStamp);
                  var Nyear = datetime.getFullYear();
                  var Nmonth = datetime.getMonth() + 1 < 10 ? "0" + (datetime.getMonth() + 1) : datetime.getMonth() + 1;
                  var Ndate = datetime.getDate() < 10 ? "0" + datetime.getDate() : datetime.getDate();
                  var Nhour = datetime.getHours() < 10 ? "0" + datetime.getHours() : datetime.getHours();
                  var Nminute = datetime.getMinutes() < 10 ? "0" + datetime.getMinutes() : datetime.getMinutes();
                  var Nsecond = datetime.getSeconds() < 10 ? "0" + datetime.getSeconds() : datetime.getSeconds();
                  result = Nyear + "-" + Nmonth + "-" + Ndate
              }
              return result;
          }
          var lastUpDate = document.getElementById('last-update').innerHTML;
          try {
            document.getElementById('last-update-show').innerHTML = timeago(new Date(lastUpDate));
          } catch (error) {
            document.getElementById('last-update-show').innerHTML = '<%- date(Date.now()) %> <%= item.type.lastupd.unit %>';
          }
        </script>
        <% } %>
      <% } %>
    </div>
  </div>
</section>
