<script>
  volantis.message = (title, message, icon = 'fas fa-info-circle', time = 5000, position = 'topRight', done = null) => {
    if (typeof iziToast == "undefined") {
      volantis.css('<%- theme.cdn.map.css.message %>')
      volantis.js('<%- theme.cdn.map.js.message %>', () => {
        tozashMessage(title, message, icon, time, position, done);
      });
    } else {
      tozashMessage(title, message, icon, time, position, done);
    }

    function tozashMessage(title, message, icon, time, position, done) {
      iziToast.show({
        layout: '2',
        icon: 'Fontawesome',
        transitionIn: 'bounceInLeft',
        transitionOut: 'fadeOutRight',
        closeOnEscape: 'true',
        displayMode: 'replace',
        backgroundColor: '#fff',
        zindex: 2147483647,
        title: title,
        message: message,
        icon: icon,
        timeout: time,
        position: position,
        onClosed: () => {
          if(done) done();
        },
      });
    }
  };

  volantis.question = (title, message, success = null, cancel = null, done = null, icon = 'fas fa-question-circle', time = 20000) => {
    if (typeof iziToast == "undefined") {
      volantis.css('<%- theme.cdn.map.css.message %>')
      volantis.js('<%- theme.cdn.map.js.message %>', () => {
        tozashQuestion(title, message, icon , time, success, cancel, done);
      });
    } else {
      tozashQuestion(title, message, icon , time, success, cancel, done);
    }

    function tozashQuestion(title, message, icon , time, success, cancel, done) {
      iziToast.question({ 
        icon: 'Fontawesome',
        backgroundColor: '#fff',
        close: false,
        overlay: true,
        displayMode: 'once',
        id: 'question',
        position: 'center',
        zindex: 2147483647,
        icon: icon,
        timeout: time,
        title: title,
        message: message,
        buttons: [
          ['<button><b>是</b></button>', (instance, toast) => {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
            if(success) success(instance, toast)
          }],
          ['<button><b>否</b></button>', (instance, toast) => {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
            if(cancel) cancel(instance, toast)
          }]
        ],
        onClosed: (instance, toast, closedBy) => {
          if(done) done(instance, toast, closedBy);
        }
      });
    }
  }

  <% if (theme.plugins.message.copyright.enable) { %>
    document.body.oncopy = function(){
      volantis.message('<%- theme.plugins.message.copyright.title %>',
      '<%- theme.plugins.message.copyright.message %>', 
      '<%- theme.plugins.message.copyright.icon %>');
    }; 
  <% } %>
</script>
