<% if (is_tag()) { %>
    <script>
        window.subData= { title:'tag : <%= page.tag %>'}
    </script>
<% } else if (is_archive()) { %>
    <script>
        window.subData= { title:'year : <%= page.year %><%= page.month ? '.' + page.month : '' %>'}
    </script>
<% } else if (is_category()) { %>
    <script>
        window.subData= { title:'category : <%= page.category %>'}
    </script>
<% } %>

<section class="post-list">
    <% if(!config.nav_menu){ %>
        <div class='post-wrapper'>
            <article class="post revealno-title">
                <section class="meta">
                    <h2 class="title" style="color:#EF503A">
                        <span class="fa fa-exclamation-triangle"></span>
                        还剩最后一步就成功了
                    </h2>
                    <p>
                        请按照下面的指示进行操作：
                    </p>
                </section>
                <iframe frameborder="no" width=100% height=600 src="https://xaoxuu.com/docs/material-x/#/?id=主题配置"></iframe>
            </article>
        </div>
    <% } %>
    <% page.posts.each(function(post){ %>
        <div class='post-wrapper'>
            <%- partial('post', {post: post}) %>
        </div>
    <% }) %>
</section>

<% if (page.total > 1) { %>
    <br>
    <div class="prev-next">
        <div class="prev-next">
            <% if (page.prev != 0) { %>
                <a class="prev" rel="prev" href="<%= url_for(page.prev_link) %>">
                    <section class="post prev" >
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp;上一页&nbsp;
                    </section>
                </a>
            <% } %>
            <p class="current">
                <%= page.current%> / <%= page.total%>
            </p>
            <% if (page.next != 0) { %>
                <a class="next" rel="next" href="<%= url_for(page.next_link) %>">
                    <section class="post next">
                        &nbsp;下一页&nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </section>
                </a>
            <% } %>

        </div>
    </div>

<% } %>
