<% if (is_tag()) { %>
    <script>
        window.subData= { title:'<%= theme.widgets.tagcloud.title %> : <%= page.tag %>'}
    </script>
<% } else if (is_archive()) { %>
    <script>
        window.subData= { title:'year : <%= page.year %><%= page.month ? '.' + page.month : '' %>'}
    </script>
<% } else if (is_category()) { %>
    <script>
        window.subData= { title:'<%= theme.widgets.categories.title %> : <%= page.category %>'}
    </script>
<% } %>

<section class="post-list">
    <% page.posts.each(function(post){ %>
        <div class='post-wrapper'>
            <%- partial('post', {post: post}) %>
        </div>
    <% }) %>
</section>

<% if (page.total > 1) { %>
    <br>
    <div class="prev-next">
        <div class="prev-next">
            <% if (page.prev != 0) { %>
                <a class="prev" rel="prev" href="<%= url_for(page.prev_link) %>">
                    <section class="post prev" >
                        <i class="fas fa-chevron-left" aria-hidden="true"></i>&nbsp;上一页&nbsp;
                    </section>
                </a>
            <% } %>
            <p class="current">
                <%= page.current%> / <%= page.total%>
            </p>
            <% if (page.next != 0) { %>
                <a class="next" rel="next" href="<%= url_for(page.next_link) %>">
                    <section class="post next">
                        &nbsp;下一页&nbsp;<i class="fas fa-chevron-right" aria-hidden="true"></i>
                    </section>
                </a>
            <% } %>

        </div>
    </div>

<% } %>

<!-- 根据主题中的设置决定是否在archive中针对摘要部分的MathJax公式加载mathjax.js文件 -->
<%
var need_mathjax = false;
page.posts.each(function(post){
  if (post.mathjax){
    if (post.mathjax != "internal") {
      need_mathjax = true;
    }
  }
});
%>

<% if (need_mathjax){ %>
  <%- partial('mathjax') %>
<% } %>
