<article id="<%= post.layout %>-<%= post.slug %>" class="post white-box article-type-<%= post.layout %>" itemscope itemprop="blogPost">
    <section class='meta'>
        <h1 class="title">
            <% if(post.title){ %>
                <%= post.title %>
            <% } else if (post.date) { %>
                <%= date(post.date, 'YYYY-MM-DD dddd') %>
            <% } %>
        </h1>
        <time>
            <%= date(post.date, 'YYYY-MM-DD dddd') %>&nbsp;&nbsp;
            <i class="fa fa-eye fa-fw" aria-hidden="true"></i>&nbsp;<span id="busuanzi_value_page_pv"><i class="fa fa-spinner fa-spin fa-fw" aria-hidden="true"></i></span>
        </time>
        <%- partial('categories',{post:post}) %>
    </section>

    <section class="article typo">

        <div class="article-entry" itemprop="articleBody">
            <%- post.content %>
        </div>

        <% if (post.tags && post.tags.length) { %>
            <div class="article-tags tags">
                <% post.tags.each(function(item){ %>
                    <a href="<%- url_for(item.path) %>"><i class="fa fa-tag fa-fw" aria-hidden="true"></i>&nbsp;<%=item.name %></a>
                <%})%>
            </div>
        <% } %>

        <% if(post.prev || post.next){ %>
            <div class="art-item-footer">
                <% if(post.prev){ %>
                    <span class="art-item-left">
                        <i class="fa fa-chevron-left fa-fw" aria-hidden="true"></i>&nbsp;
                        <a href="<%=url_for(post.prev.path)%>" rel="prev" title="<%=post.prev.title%>">
                            <%= post.prev.title %>
                        </a>
                    </span>
                <% } %>
                <% if(post.next){ %>
                    <span class="art-item-right" aria-hidden="true">
                        <a href="<%=url_for(post.next.path) %>" rel="next" title="<%=post.next.title %>">
                            <%=post.next.title  %>
                        </a>&nbsp;
                        <i class="fa fa-chevron-right fa-fw" aria-hidden="true"></i>
                    </span>
                <%} %>
            </div>
        <%} %>

    </section>

</article>

<br>

<!-- 显示推荐文章和评论 -->
<% if (post && ((config.recommended_posts && config.recommended_posts.autoDisplay == false && post.recommended_posts != false) || (post.comments && (config.disqus_shortname || config.livere_shortname || config.valine)) )) { %>
    <article class="post white-box article-type-<%= post.layout %>>">
        <section class="article typo">

            <% if (config.recommended_posts && config.recommended_posts.autoDisplay == false && post.recommended_posts != false) { %>
                <%- partial('post/recommended_posts', {page: post, site: site}) %>
            <% } %>

            <% if (post.comments) { %>

                <% if (config.disqus_shortname) { %>
                    <h4><i class="fa fa-comments fa-fw" aria-hidden="true"></i>&nbsp;Disqus评论</h4>
                    <section id="comments">
                        <div id="disqus_thread">
                            ⚠️  无法加载评论系统，请确保您的网络能够正常访问 <a href="https://disqus.com">Disqus</a> 。
                        </div>
                    </section>
                <% } %>

                <% if (config.livere_shortname){ %>
                    <h4><i class="fa fa-comments fa-fw" aria-hidden="true"></i>&nbsp;LiveRe评论</h4>
                    <section id="comments">
                        <div id="lv-container" data-id="city" data-uid="MTAyMC8yOTU4Ny82MTU1">
                            <noscript>为正常使用来必力评论功能请激活JavaScript</noscript>
                        </div>
                    </section>
                <% } %>

                <% if (config.valine){ %>
                    <% if (config.valine.enable && config.valine.appId && config.valine.appKey){ %>
                        <h4><i class="fa fa-comments fa-fw" aria-hidden="true"></i>&nbsp;Valine评论</h4>
                        <section id="comments">
                            <div id="valine_container" class="valine_thread">
                                </i><i class="fa fa-spinner fa-spin fa-fw"></i>
                            </div>
                        </section>
                        <script src="//unpkg.com/valine/dist/Valine.min.js"></script>
                    <% } %>
                <% } %>
            <% } %>

        </section>
    </article>
<% } %>

<script>
    window.subData = {
        title: '<%= post.title %>',
        tools: true
    }
</script>
