<% var sections = page.body ? page.body : theme.layout.on_page.body; %>
<% sections.forEach(function(widget_id){ %>
  <% if (widget_id == 'article') { %>
    <article id="<%= post.layout %>" class="post white-box <%- theme.style.shadow.card ? 'card-shadow' : '' %> <%- theme.style.blur && theme.style.blur.body ? 'body-blur' : '' %> article-type-<%= post.layout %>" itemscope itemprop="blogPost">
      <%- partial('meta', {post: post, position: 'header'}) %>
      <section class="article typo">
        <div class="article-entry" itemprop="articleBody">
          <% (post.photos||[]).forEach(function(photo){ %>
            <fancybox><img src='<%- url_for(photo) %>'/></fancybox>
          <% }) %>
          <%- post.content %>
          <% if(theme.layout.on_page.footer && (page.layout == 'post')){ %>
            <br>
            <% (theme.layout.on_page.footer||[]).forEach(function(widget_id){ %>
              <% theme.widget.forEach(function(widget){ %>
                <% if (widget.id == widget_id){ %>
                  <%- partial('../_widget/' + widget.class, {item: widget}) %>
                <% } %>
              <% }) %>
            <% }) %>
          <% } %>
        </div>
        <% if(post.layout == 'post' || post.layout == 'page'){ %>
          <br>
          <%- partial('meta', {post: post, position: 'footer'}) %>
        <% } %>
        <% if(post.prev || post.next){ %>
            <div class="prev-next">
                <% if(post.prev){ %>
                    <section class="prev">
                        <span class="art-item-left">
                            <h6><i class="fas fa-chevron-left" aria-hidden="true"></i>&nbsp;<%- __('post.prev_page') %></h6>
                            <h4>
                                <a href="<%=url_for(post.prev.path)%>" rel="prev" title="<%=post.prev.title%>">
                                  <% if(post.prev.title){ %>
                                      <%= post.prev.title %>
                                  <% } else if (post.prev.date) { %>
                                      <%= date(post.prev.date, config.date_format) %>
                                  <% } %>
                                </a>
                            </h4>
                            <% if (post.prev.tags && post.prev.tags.length && post.prev.tags.each) { %>
                                <%
                                var items = [];
                                post.prev.tags.each(function(item){
                                    items.push('<a class="tag" href="'+url_for(item.path)+'"><i class="fas fa-tag fa-fw" aria-hidden="true"></i> ' + item.name + '</a>');
                                });
                                %>
                                <h6 class="tags">
                                    <%- items.join(' ') %>
                                </h6>
                            <% } %>
                        </span>
                    </section>
                <% } %>
                <% if(post.next){ %>
                    <section class="next">
                        <span class="art-item-right" aria-hidden="true">
                            <h6><%- __('post.next_page') %>&nbsp;<i class="fas fa-chevron-right" aria-hidden="true"></i></h6>
                            <h4>
                                <a href="<%=url_for(post.next.path)%>" rel="prev" title="<%=post.next.title%>">
                                    <% if(post.next.title){ %>
                                        <%= post.next.title %>
                                    <% } else if (post.next.date) { %>
                                        <%= date(post.next.date, config.date_format) %>
                                    <% } %>
                                </a>
                            </h4>
                            <% if (post.next.tags && post.next.tags.length && post.next.tags.each) { %>
                                <%
                                var items = [];
                                post.next.tags.each(function(item){
                                    items.push('<a class="tag" href="'+url_for(item.path)+'"><i class="fas fa-tag fa-fw" aria-hidden="true"></i> ' + item.name + '</a>');
                                });
                                %>
                                <h6 class="tags">
                                    <%- items.join(' ') %>
                                </h6>
                            <% } %>
                        </span>
                    </section>
                <%} %>
            </div>
        <%} %>
      </section>
    </article>
  <% } else if (widget_id == 'comments') { %>
    <%- partial('../_third-party/comments') %>
  <% } else { %>
    <% theme.widget.forEach(function(widget){ %>
      <% if (widget.id == widget_id){ %>
        <%- partial('../_widget/' + widget.class, {item: widget}) %>
      <% } %>
    <% }) %>
  <% } %>
<% }) %>

<%
  if (sections.indexOf('comments') < 0) {
    page.comments = false;
  }
%>

<!-- 根据页面mathjax变量决定是否加载MathJax数学公式js -->
<% if (page.mathjax){ %>
  <%- partial('mathjax') %>
<% } %>

<% if (page.layout == 'post'){ %>
  <script>
    window.subData = {
      title: '<%- post.title %>',
      tools: true
    }
  </script>
<% } %>
