<article id="<%= post.layout %>" class="post white-box article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <%- partial('meta',{post:post}) %>
    <section class="article typo">

        <div class="article-entry" itemprop="articleBody">
            <%- post.content %>
        </div>
        <% if(post.layout == 'post'){ %>
          <section class='meta' id="footer-meta">
              <time class="time" itemprop="dateUpdated" datetime="<%- moment(post.updated).format() %>" content="<%- date(post.updated, config.date_format) %>">
                  <i class="fas fa-pen fa-fw" aria-hidden="true"></i>&nbsp;本文最后更新于：<%- date(post.updated, config.date_format) %>
              </time>
              <% if (post.tags && post.tags.length && post.tags.each) { %>
                  <%
                  var items = [];
                  post.tags.each(function(item){
                      items.push('<div class="tags"><a class="tag" href="'+url_for(item.path)+'"><i class="fas fa-hashtag fa-fw" aria-hidden="true"></i>&nbsp;' + item.name + '</a></div>');
                  });
                  %>
                  <%- items.join(' ') %>
              <% } %>
          </section>
        <% } %>

        <% if(post.prev || post.next){ %>
            <div class="prev-next">
                <% if(post.prev){ %>
                    <section class="prev">
                        <span class="art-item-left">
                            <h6><i class="fas fa-chevron-left" aria-hidden="true"></i>&nbsp;上一篇</h6>
                            <h4>
                                <a href="<%=url_for(post.prev.path)%>" rel="prev" title="<%=post.prev.title%>">
                                  <% if(post.prev.title){ %>
                                      <%= post.prev.title %>
                                  <% } else if (post.prev.date) { %>
                                      <%= date(post.prev.date, config.date_format) %>
                                  <% } %>
                                </a>
                            </h4>
                            <% if (post.prev.tags && post.prev.tags.length && post.prev.tags.each) { %>
                                <%
                                var items = [];
                                post.prev.tags.each(function(item){
                                    items.push('<a class="tag" href="'+url_for(item.path)+'"><i class="fas fa-hashtag fa-fw" aria-hidden="true"></i>' + item.name + '</a>');
                                });
                                %>
                                <h6 class="tags">
                                    <%- items.join(' ') %>
                                </h6>
                            <% } %>
                        </span>
                    </section>
                <% } %>
                <% if(post.next){ %>
                    <section class="next">
                        <span class="art-item-right" aria-hidden="true">
                            <h6>下一篇&nbsp;<i class="fas fa-chevron-right" aria-hidden="true"></i></h6>
                            <h4>
                                <a href="<%=url_for(post.next.path)%>" rel="prev" title="<%=post.next.title%>">
                                    <% if(post.next.title){ %>
                                        <%= post.next.title %>
                                    <% } else if (post.next.date) { %>
                                        <%= date(post.next.date, config.date_format) %>
                                    <% } %>
                                </a>
                            </h4>
                            <% if (post.next.tags && post.next.tags.length && post.next.tags.each) { %>
                                <%
                                var items = [];
                                post.next.tags.each(function(item){
                                    items.push('<a class="tag" href="'+url_for(item.path)+'"><i class="fas fa-hashtag fa-fw" aria-hidden="true"></i>' + item.name + '</a>');
                                });
                                %>
                                <h6 class="tags">
                                    <%- items.join(' ') %>
                                </h6>
                            <% } %>
                        </span>
                    </section>
                <%} %>
            </div>
        <%} %>

    </section>

</article>

<!-- 根据页面mathjax变量决定是否加载MathJax数学公式js -->
<% if (page.mathjax){ %>
    <%- partial('mathjax') %>
<% } %>

<br>

<%- partial('comments') %>

<script>
    window.subData = {
        title: '<%= post.title %>',
        tools: true
    }
</script>
