<% if (theme.site_footer) { %>
  <%
  var layout = theme.site_footer.layout;
  if (config.theme_config && config.theme_config.footer && config.theme_config.footer.layout) {
    layout = config.theme_config.footer.layout;
  }
  %>
  <footer class="footer clearfix">
    <br><br>
    <% layout.forEach(function(item){ %>
      <% if (item == 'social') { %>
        <br>
        <div class="social-wrapper">
          <% (theme.site_footer.social||[]).forEach(function(value){ %>
            <% if (value.url && (value.icon || value.img || value.avatar)) { %>
              <a href="<%= url_for(value.url) %>"
                class="social <%- value.icon %> flat-btn"
                target="_blank"
                rel="external nofollow noopener noreferrer">
                <% if (value.img) { %>
                  <img src="<%- value.img %>"/>
                <% } else if (value.avatar) { %>
                  <img src="<%- value.avatar %>" style="border-radius:120px"/>
                <% } %>
              </a>
            <% } %>
          <% }) %>
        </div>
      <% } else if (item == 'aplayer') { %>
        <div class="aplayer-container">
          <%- partial('../_third-party/aplayer/layout', {post: null, where: 'footer'}) %>
        </div>
      <% } else if (item == 'license') { %>
        <div><%- markdown(__('footer.license')) %></div>
      <% } else if (item == 'info') { %>
        <%- __('footer.use') %>
        <a href="https://github.com/volantis-x/hexo-theme-volantis/tree/<%- theme.info.theme_version %>" target="_blank" class="codename">Volantis</a>
        <%- __('footer.theme') %><% if (theme.analytics.busuanzi) { %><%- __('symbol.comma') %><%- __('footer.total_views') %>
          <span id="busuanzi_value_site_pv"><i class="fas fa-circle-notch fa-spin fa-fw" aria-hidden="true"></i></span>
          <%- __('footer.times') %>
        <% } %>
      <% } else if (item == 'source') { %>
        <%- markdown(__('footer.site_source', '[Volantis](https://github.com/volantis-x/hexo-theme-volantis/tree/'+theme.info.theme_version+')', 'GitHub', 'https://github.com/volantis-x/volantis-docs')) %>
      <% } else if (item == 'copyright') { %>
        <div class='copyright'>
        <%- markdown(theme.site_footer.copyright) %>
        </div>
      <% } else { %>
        <% if (item in theme.site_footer) { %>
          <div><%- markdown(theme.site_footer[item]) %></div>
        <% } %>
      <% } %>
    <% }) %>
  </footer>
<% } %>
