<footer id="footer" class="clearfix">
  <% if (config.footer) { %>
    <div class="footer">
      <%- markdown(config.footer) %>
    </div>
    <br>
  <%}%>
  <% if (config.social) { %>
    <div class="social-wrapper">
      <% (config.social||[]).forEach(function(value){ %>
        <% if (value.url && value.icon) { %>
          <a href="<%= url_for(value.url) %>" class="social <%- value.icon %> flat-btn" target="_blank" rel="external"></a>
        <%}%>
      <%})%>
    </div>
  <%}%>
  <br>
  <div><% if (theme.services && theme.services.busuanzi == true) { %><%- __('footer.total_views') %> <span id="busuanzi_value_site_pv"><i class="fas fa-spinner fa-spin fa-fw" aria-hidden="true"></i></span> <%- __('footer.times') %><% } %>
  </div>

<i class="fas fa-chart-area"></i>
<span class="post-count">字数统计：<%= totalcount(site) %></span>&nbsp;&nbsp;|&nbsp;&nbsp;
    <!-- 网站运行时间 -->
    <span id="timeDate">正在计算...</span><span id="times"><span><i class="fa fa-spinner fa-spin"> </i></span></span>
    <script>
        var now = new Date(); 
        function createtime() { 
            var grt= new Date("02/02/2019 00:00:00");
            now.setTime(now.getTime()+250); 
            days = (now - grt ) / 1000 / 60 / 60 / 24; dnum = Math.floor(days); 
            hours = (now - grt ) / 1000 / 60 / 60 - (24 * dnum); hnum = Math.floor(hours); 
            if(String(hnum).length ==1 ){hnum = "0" + hnum;} minutes = (now - grt ) / 1000 /60 - (24 * 60 * dnum) - (60 * hnum); 
            mnum = Math.floor(minutes); if(String(mnum).length ==1 ){mnum = "0" + mnum;} 
            seconds = (now - grt ) / 1000 - (24 * 60 * 60 * dnum) - (60 * 60 * hnum) - (60 * mnum); 
            snum = Math.round(seconds); if(String(snum).length ==1 ){snum = "0" + snum;} 
            document.getElementById("timeDate").innerHTML = "网站运行时间 : "
            document.getElementById("times").innerHTML = dnum +" 天 " + hnum + " 小时 " + mnum + " 分 " + snum + " 秒"; 
            document.getElementById("times").style.color="#00ccff";
        }
        setInterval("createtime()",250);
    </script>
</footer>