<header itemscope itemtype="http://schema.org/WPHeader" id="l_header" class="l_header <%- theme.navbar.visiable %> <%- theme.custom_css.navbar.effect.join(' ') %> <%- theme.pjax_cover.headerShow %>" <%- (theme.navbar.visiable == 'auto' && theme.cover.height_scheme) ? "style='opacity: 0'" : "" %> >
  <div class='container'>
  <div id='wrapper'>
    <div class='nav-sub'>
      <p class="title"></p>
      <ul class='switcher nav-list-h m-phone' id="pjax-header-nav-list">
        <li><a id="s-comment" class="fa-solid fa-comments fa-fw" target="_self"  href="/" onclick="return false;" title="comment"></a></li>
        <% if (page.sidebar == undefined || page.sidebar != false) { %>
          <li><a id="s-toc" class="s-toc fa-solid fa-list fa-fw" target="_self"  href="/" onclick="return false;" title="toc"></a></li>
        <% } %>
      </ul>
    </div>
		<div class="nav-main">
      <% if (theme.navbar.logo) { %>
        <% let logo = theme.navbar.logo %>
        <a class="title flat-box" target="_self" href='<%- url_for("/") %>'>
          <% if (logo.img) { %>
            <img no-lazy class='logo' src='<%- logo.img %>'/>
          <% } %>
          <% if (logo.icon) { %>
            <i class='<%- logo.icon %>'></i>
          <% } %>
          <% if (logo.title) { %>
            <%- logo.title %>
          <% } %>
        </a>
      <% } %>

			<div class='menu navigation'>
				<ul class='nav-list-h m-pc'>
          <%
          let menu_list = theme.navbar.menu;
          %>
          <% function menu(value, type) { %>
            <% if (value.name == 'hr') { %>
              <hr>
            <% } else if (value.toggle == 'darkmode') { %>
              <li>
                <a class="menuitem flat-box header toggle-mode-btn">
                  <i class='<%= value.icon %> fa-fw'></i><%- value.name %>
                </a>
              <li>
            <% } else if (value.icon && value.icon.indexOf('fa-compact-disc') > -1 && value.url  == undefined && value.rows  == undefined) { %>
              <% if (type == 'pc') { %>
                <li>
                  <a class="menuitem flat-box">
                    <i class='<%= value.icon %> fa-fw music'></i><%- value.name %>
                  </a>
                  <ul class="list-v">
                    <li>
                      <div class="aplayer-container">
                        <%- partial('../_plugins/aplayer/layout', {post: null, where: 'footer'}) %>
                      </div>
                    </li>
                  </ul>
                <li>
              <% } %>
            <% } else if (value.name != undefined && value.url  == undefined && value.rows == undefined) { %>
              <li class='header'>
                <% if (value.icon) { %><i class='<%= value.icon %> fa-fw'></i><% } %><%- value.name %>
              </li>
            <% } else { %>
              <li>
                <a class="menuitem flat-box faa-parent animated-hover"
                <%- value.url ? `href="` + url_for(value.url) + `" title="` + (value.description || value.name) + `"`
                        : ` href="/" onclick="return false;" title="` + (value.description || value.name) + `"` %>
                  <% if (value.rel) { %>
                    rel="<%- value.rel %>"
                  <% } %>
                  <% if (value.target) { %>
                    target="<%- value.target %>"
                  <% } %>
                  <% if (value.url) { %>
                    active-action="action-<%= url_for(value.url).replace(/\/|%|\./g, "")?url_for(value.url).replace(/\/|%|\./g, ""):"home" %>"
                  <% } %>>
                  <% if (value.icon) { %><i class='<%= value.icon %> fa-fw'></i><% } %><%- value.name %>
                </a>
                <% if (value.rows) { %>
                  <ul class="list-v">
                    <% getList(value.rows).forEach(function(value){ %>
                      <% menu(value, type) %>
                    <%})%>
                  </ul>
                <% } %>
              </li>
            <% } %>
          <% } %>
          <% getList(menu_list).forEach(function(value){ %>
            <% menu(value, 'pc') %>
          <% }) %>
				</ul>
			</div>
      <% if (theme.search.enable) { %>
      <div class="m_search">
        <form name="searchform" class="form u-search-form">
          <i class="icon fa-solid fa-search fa-fw"></i>
          <input type="text" class="input u-search-input" placeholder="<%- theme.navbar && theme.navbar.search %>" />
        </form>
      </div>
      <% } %>

			<ul class='switcher nav-list-h m-phone'>
				<% if (theme.search.enable === true) { %>
					<li><a class="s-search fa-solid fa-search fa-fw" target="_self" href="/" onclick="return false;" title="search"></a></li>
				<% } %>
				<li>
          <a class="s-menu fa-solid fa-bars fa-fw" target="_self" href="/" onclick="return false;" title="menu"></a>
          <ul class="menu-phone list-v navigation white-box">
            <% getList(menu_list).forEach(function(value){ %>
              <% menu(value, 'mobile') %>
            <% }) %>
          </ul>
        </li>
			</ul>

      <!-- Custom Files header begin -->
      <%- volantis_inject('header') %>
      <!-- Custom Files header end -->
		</div>
	</div>
  </div>
</header>
