<header class="l_header <%= theme.style %>">
	<div class='wrapper'>
		<div class="nav-main container container--flex">
      <a class="logo flat-box" href='<%= url_for("/") %>' >
        <% if (config.logo) { %>
          <img class='logo' src='<%- url_for(config.logo) %>'/>
        <% } else { %>
          <%- config.title %>
        <% } %>
      </a>
			<div class='menu'>
				<ul class='h-list'>
          <% if (config.menu) { %>
  					<% (config.menu || []).forEach(function(value){ %>
  						<li>
								<a id="<%= url_for(value.url).replace(/\/|%/g, "")?url_for(value.url).replace(/\/|%/g, ""):"home" %>"
								 class="nav flat-box" href="<%= url_for(value.url) %>">
									<i class='<%= value.icon %> fa-fw'></i>&nbsp;<%= __('navbar.'+value.name) == ('navbar.'+value.name) ? value.name : __('navbar.'+value.name) %>
								</a>
							</li>
      			<%})%>
      		<% } %>
				</ul>
			</div>

			<% if (theme.search.enable === true) { %>
				<div class="m_search">
					<form name="searchform" class="form u-search-form">
						<input type="text" class="input u-search-input" placeholder="<%- __('search.placeholder') %>" />
						<span class="icon"><i class="fas fa-search fa-fw"></i></span>
					</form>
				</div>
			<% } %>
			<ul class='switcher h-list'>
				<% if (theme.search.enable === true) { %>
					<li class='s-search'><a class="fas fa-search fa-fw" href='javascript:void(0)'></a></li>
				<% } %>
				<li class='s-menu'><a class="fas fa-bars fa-fw" href='javascript:void(0)'></a></li>
			</ul>
		</div>

		<div class='nav-sub container container--flex'>
			<a class="logo flat-box"></a>
			<ul class='switcher h-list'>
				<li class='s-comment'><a class="flat-btn fas fa-comments fa-fw" href='javascript:void(0)'></a></li>
				<li class='s-toc'><a class="flat-btn fas fa-list fa-fw" href='javascript:void(0)'></a></li>
			</ul>
		</div>
	</div>
</header>
	<aside class="menu-phone">
    <header>
		<nav class="menu">
      <ul>
          <% if (config.menu) { %>
              <% (config.menu || []).forEach(function(value){ %>
                  <li>
										<a id="<%= url_for(value.url).replace(/\/|%/g, "")?url_for(value.url).replace(/\/|%/g, ""):"home" %>" class="nav flat-box" href="<%= url_for(value.url) %>">
											<i class='<%= value.icon %> fa-fw'></i>&nbsp;<%= __('navbar.'+value.name) == ('navbar.'+value.name) ? value.name : __('navbar.'+value.name) %>
										</a>
                  </li>
              <%})%>
       <% } %>
      </ul>
		</nav>
    </header>
	</aside>
