<header class="l_header">
	<div class='wrapper'>
		<div class="nav-main container container--flex">
			<a class="logo flat-box" href='<%= url_for("/") %>' >
				<!-- <i class="fa fa-home"></i> -->
				<%- config.title %>
			</a>

				<div class='menu'>
					<ul class='h-list'>
                        <% if (config.nav_menu) { %>
    						<% (config.nav_menu || []).forEach(function(value){ %>
    							<li>
    								<a class='nav-<%=value.slug%> flat-box' href='<%=url_for(value.url)%>'>
    									<i class='fa <%=value.icon%> fa-'></i>&nbsp;<%=value.name%>
    								</a>
    							</li>
    						<%})%>
        			 <% } %>
					</ul>
					<div class='underline'></div>
				</div>

			<% if (config.search.enable === true) { %>
				<div class="m_search">
					<form name="searchform" class="form u-search-form">
						<input type="text" class="input u-search-input" placeholder="Search" />
						<span class="icon"><i class="fa fa-search fa-fw"></i></span>
					</form>
				</div>
			<% } %>
			<ul class='switcher h-list'>
				<% if (config.search.enable === true) { %>
					<li class='s-search'><a class="fa fa-search fa-fw" href='javascript:void(0)'></span></a></li>
				<% } %>
				<li class='s-menu'><a class="fa fa-navicon fa-fw" href='javascript:void(0)'></a></li>
			</ul>
		</div>

		<div class='nav-sub container container--flex'>
			<a class="logo" class="flat-box" href='javascript:void(0)'>
				xaoxuu
			</a>

			<ul class='switcher h-list'>
				<li class='s-comment'><a class="fa fa-comments fa-fw flat-box" href='javascript:void(0)'></a></li>
				<li class='s-top'><a class="fa fa-arrow-up fa-fw flat-box" href='javascript:void(0)'></a></li>
				<li class='s-toc'><a class="fa fa-list-ul fa-fw flat-box" href='javascript:void(0)'></a></li>
			</ul>
		</div>
	</div>
</header>
	<aside class="menu-phone">
        <div class="header"><%=config.title%></div>
		<nav>
            <ul>
                <% if (config.nav_menu) { %>
                    <% (config.nav_menu || []).forEach(function(value){ %>
                        <li>
                            <a class='nav-<%=value.slug%> flat-box nav flat-box' href='<%=url_for(value.url)%>'><i class='fa <%=value.icon%> fa-fw'></i>&nbsp;<%=value.name%></a>
                        </li>
                    <%})%>
             <% } %>
            </ul>
		</nav>
	</aside>
