<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <%
    var title = page.title;
    if (is_archive()) {
      title = 'Archives';
      if (is_month())
        title += ': ' + page.year + '/' + page.month;
      else if (is_year())
        title += ': ' + page.year;
    }
    else if (is_category())
      title = 'Category: ' + page.category;
    else if (is_tag())
      title = 'Tag: ' + page.tag;
  %>
  <title><% if (title) { %><%= title %> | <% } %><%= config.title %></title>
  <% if (page.keywords && config.keywords){ %>
  <meta name="keywords" content="<%- page.keywords %>, <%- config.keywords %>">
  <% } else if (page.keywords) { %>
  <meta name="keywords" content="<%- page.keywords %>">
  <% } else if (config.keywords) { %>
  <meta name="keywords" content="<%- config.keywords %>">
  <% } %>
  <% if (page.description && config.description){ %>
  <meta name="description" content="<%- page.description %>, <%- config.description %>">
  <% } else if (page.description) { %>
  <meta name="description" content="<%- page.description %>">
  <% } else if (config.description) { %>
  <meta name="description" content="<%- config.description %>">
  <% } %>

  <% if (config.feed && config.feed.path){ %>
  <%- feed_tag(config.feed.path, {title: config.title}) %>
  <% } %>

  <meta name="HandheldFriendly" content="True" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- meta -->
  <% if (config.import && config.import.meta){ %>
  <% (config.import.meta||[]).forEach(function(item){ %>
  <%- item %><% }) %>
  <% } %>

  <!-- link -->
  <% if (theme.services && theme.services.nodewaves == true) { %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/node-waves@0.7.6/dist/waves.min.css">
  <% } %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.6.3/css/all.min.css">
  <% if (config.import && config.import.link){ %>
  <% (config.import.link||[]).forEach(function(item){ %>
  <%- item %><% }) %>
  <% } %>

  <% if (config.favicon) { %>
  <link rel="shortcut icon" type='image/x-icon' href="<%- url_for(config.favicon) %>">
  <% } %>

  <% if (theme.services && theme.services.cdn == true && config.theme_cdn) { %>
    <% if (config.theme_cdn == true) { %>
    <%- css(theme.info.cdn + 'css/style.css') %>
    <% } else if (config.theme_cdn.length > 0) { %>
    <%- css(config.theme_cdn + 'css/style.css') %>
    <% } %>
  <% } else { %>
  <%- css('style.css') %>
  <% } %>

  <script>
    function setLoadingBarProgress(num) {
      document.getElementById('loading-bar').style.width=num+"%";
    }
  </script>

  <% if (config.google_analytics_key) { %>
    <!-- ga -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '<%- config.google_analytics_key %>', '<%- config.root_domain ? config.root_domain : config.url %>');
      ga('send', 'pageview');
    </script>
  <% } %>
  <% if (config.baidu_analytics_key) { %>
    <!-- ba -->
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?<%= config.baidu_analytics_key %>";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
  <% } %>
</head>
