<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <%
    var title = page.title;
    if (is_archive()) {
      title = 'Archives';
      if (is_month())
        title += ': ' + page.year + '/' + page.month;
      else if (is_year())
        title += ': ' + page.year;
    }
    else if (is_category())
      title = 'Category: ' + page.category;
    else if (is_tag())
      title = 'Tag: ' + page.tag;
  %>
  <title><% if (title) { %><%= title %> | <% } %><%= config.title %></title>
  <% if (page.keywords && config.keywords){ %>
  <meta name="keywords" content="<%= page.keywords %>, <%= config.keywords %>">
  <% } else if (page.keywords) { %>
  <meta name="keywords" content="<%= page.keywords %>">
  <% } else if (config.keywords) { %>
  <meta name="keywords" content="<%= config.keywords %>">
  <% } %>
  <meta name="HandheldFriendly" content="True" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%- favicon_tag(config.favicon) %>
  <%- feed_tag(config.feed.path, {title: config.title}) %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="shortcut icon" href="<%= config.shortcut_icon %>" />
  <link rel="icon" href="<%= config.favicon %>" />
  <% if (theme.google_fonts){ %>
  <link href="https://fonts.googleapis.com/css?family=<%= theme.google_fonts %>" rel="stylesheet">
  <% } else { %>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <% } %>
  <!-- <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link href='//cdn.bootcss.com/node-waves/0.7.5/waves.min.css' rel='stylesheet'>
  <%- css('style.css') %>
  <script>
    function setLoadingBarProgress(num) {
      document.getElementById('loading-bar').style.width=num+"%";
    }
  </script>
</head>
