<!--此文件用来存放一些不方便取值的变量-->
<!--思路大概是将值藏到重加载的区域内-->

<%
var changeValinePath = 'none';
var changeValinePlaceholder = 'none';
var frontMatterCover = 'none';
var ispage = false;
var postTitle = '';

var enableValine = false;
if (theme.comments && page && page.comments == true && theme.comments.valine && theme.comments.valine.appId) {
    enableValine = true;
}

if (page && page.comments == true) {
    if (enableValine && page.valine && page.valine.path) {
        changeValinePath = page.valine.path;
    }
    if (enableValine && page.valine && page.valine.placeholder) {
        changeValinePlaceholder = page.valine.placeholder;
    }
}

if (page && page.cover) {
    frontMatterCover = page.cover;
    if (is_home() && page.prev == 0 && theme.cover.scheme == 'docs') {
        // 待定，此处为全封面
    } else {
        frontMatterCover = 'true';
    }
}

if (page && page.layout == 'post' && page.title) {
    ispage = true;
    postTitle = page.title;
}

%>

<div id="pjax-data" style="display: none">

    <div id="page-cover"><%=frontMatterCover%></div>

    <div id="pjax-ispage"><%=ispage%></div>
    <div id="pjax-pageTitle"><%=postTitle%></div>

    <% if (enableValine){ %>
    <div id="valine-path"><%=changeValinePath%></div>
    <div id="valine-placeholder"><%=changeValinePlaceholder%></div>
    <% } %>
</div>

<script>
    if(document.getElementById('page-cover').innerHTML == "none") {
        document.getElementsByClassName('cover','half')[0].style.display = "none";
        document.getElementsByClassName('l_body')[0].classList.add("nocover");
        document.getElementsByClassName('l_header','cover-wrapper')[0].classList.add("show");
    } else {
        document.getElementsByClassName('cover','half')[0].style.display = "";
        document.getElementsByClassName('l_body','show')[0].classList.remove("nocover");
        document.getElementsByClassName('l_header','cover-wrapper')[0].classList.remove("show");
    }
// $headerAnchor = $('.l_header', '.cover-wrapper'); 
// if($('#page-cover').text() == "none") {
//     $('.cover.half').hide();
//     $('.l_body').addClass('nocover');
//     $headerAnchor.addClass('show');
// } else {
//     $('.cover.half').show();
//     $('.l_body').removeClass('nocover');
//     $headerAnchor.removeClass('show');
// }
</script>