<article class="post reveal <%= (post.title) ? "" : "no-title" %>">
    <%- partial('meta',{post:post}) %>
    <section class="article typo">
        <%- post.excerpt || post.description || post.content %>
        <% if (post.readmore != false && (post.excerpt || post.description)) { %>
            <div class="readmore">
                <a href="<%- url_for(post.path) %>" class="flat-box">
                    <i class="fas fa-book-open fa-fw" aria-hidden="true"></i>
                    <%- __('post.read_more') %>
                </a>
            </div>
        <% } %>

        <% if (post.tags && post.tags.length) { %>
            <div class="full-width auto-padding tags">
                <% post.tags.each(function(item){ %>
                    <a href="<%- url_for(item.path) %>"><i class="fas fa-hashtag fa-fw"></i><%=item.name %></a>
                <%})%>
            </div>
        <% } %>
    </section>
</article>
