<article class="post reveal <%= (post.title) ? "" : "no-title" %>">
    <section class="meta">
        <h2 class="title">
            <a href="<%- url_for(post.path) %>">
                <% if(post.title){ %>
                    <%= post.title %>
                <% } else if (post.date) { %>
                    <%= date(post.date, config.date_format) %>
                <% } %>
            </a>
        </h2>
        <time class="time">
            <i class="fas fa-calendar-alt fa-fw" aria-hidden="true"></i>&nbsp;<%= date(post.date, config.date_format) %>
        </time>
        <%- partial('categories',{post:post}) %>
    </section>

    <section class="article typo">
        <%- post.excerpt || post.content %>
        <% if (post.excerpt) { %>
            <div class="readmore">
                <a href="<%- url_for(post.path) %>" class="flat-box">
                    <i class="fas fa-book-open fa-fw" aria-hidden="true"></i>
                    阅读全文
                </a>
            </div>
        <% } %>

        <% if (post.tags && post.tags.length) { %>
            <div class="full-width auto-padding tags">
                <% post.tags.each(function(item){ %>
                    <a href="<%- url_for(item.path) %>"><i class="fas fa-tag fa-fw"></i>&nbsp;<%=item.name %></a>
                <%})%>
            </div>
        <% } %>
    </section>
</article>
