<div class="post post-v3 white-box reveal <%- theme.style.body.effect.join(' ') %>">
  <% if (post.pin && theme.article.preview.pin_icon) { %>
    <div class='pin'>
      <img src='<%- theme.article.preview.pin_icon %>'/>
    </div>
  <% } %>
  <% if (post.headimg) { %>
    <div class='headimg-div'>
      <a class='headimg-a' href="<%- url_for(post.link || post.path) %>">
        <% if (config.lazyload && config.lazyload.enable) { %>
          <% if (config.lazyload.loadingImg) { %>
            <div class='headimg lazyload placeholder' data-bg='<%- post.headimg %>'></div>
          <% } else { %>
            <div class='headimg lazyload' data-bg='<%- post.headimg %>'></div>
          <% } %>
        <% } else { %>
          <div class='headimg' data-bg='<%- post.headimg %>'></div>
        <% } %>
      </a>
    </div>
  <% } %>
  <h2 class="article-title">
    <a href="<%- url_for(post.link || post.path) %>">
      <%- (post.title || post.seo_title) ? (post.title || post.seo_title) : date(post.date, theme.meta.date.format) %>
    </a>
  </h2>
  <div class='md-v3'>
    <% if (post.excerpt) { %>
      <%- post.excerpt %>
    <% } else if (post.description) { %>
      <p><%- post.description %></p>
    <% } else { %>
      <%- post.content %>
    <% } %>
  </div>
  <div class='meta-v3'>
    <div>
      <time><%= date(post.date, config.date_format) %></time>
      <span class="dot"></span>
      <%- list_categories(post.categories, {
          show_count: false,
          separator: '<span class="sep"></span>',
          style: 'none'
          }) %>
    </div>
    <div>
      <% if ((post.readmore != false) && (post.excerpt || post.description || post.link)) { %>
        <a class='readmore' href='<%- url_for(post.link || post.path) %>'>
          <%- __('post.readmore') %>
        </a>
      <% } %>
    </div>
  </div>
</div>
