<article class="post white-box <%- theme.style.body.effect.join(' ') %> reveal <%= (post.title) ? "" : "no-title" %>">
  <%- partial('meta',{post:post, position:'header'}) %>
  <section class="article typo">
    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt) { %>
        <%- post.excerpt %>
      <% } else if (post.description) { %>
        <p><%- post.description %></p>
      <% } else { %>
        <%- post.content %>
      <% } %>
    </div>
    <% if (theme.layout.on_list.readmore) { %>
      <% if ((post.readmore != false) && (post.excerpt || post.description || post.link)) { %>
        <div class="button readmore">
          <a href="<%- url_for(post.link || post.path) %>">
            <%- theme.layout.on_list.readmore %>
          </a>
        </div>
      <% } %>
    <% } %>
  </section>
</article>
