<% if (theme.rightmenu && theme.rightmenu.enable == true && theme.rightmenu.layout.length > 0) { %>
  <% function loadmenu(obj) { %>
    <li>
      <a class='vlts-menu fix-cursor-default' <%= obj.url ? 'href='+ url_for(obj.url)+'' : ''%>
        <% if (obj.rel) { %>
          rel="<%- obj.rel %>"
        <% } %>
        <% if (obj.target) { %>
          target="<%- obj.target %>"
        <% } %>
        <% if (obj.onclick) { %>
          onclick="<%- obj.onclick %>"
        <% } %>
        <% if (obj.id) { %>
          id="<%- obj.id %>"
        <% } else if (obj.url) { %>
          id="<%= url_for(obj.url).replace(/\/|%|\./g, "")?url_for(obj.url).replace(/\/|%|\./g, ""):"home" %>"
        <% } %>>
        <% if (obj.icon) { %><i class='<%= obj.icon %> fa-fw'></i><% } %> <%- obj.name %>
      </a>
    </li>
  <% } %>

  <div id="rightmenu-wrapper">
    <ul class="list-v rightmenu" id="rightmenu-content">
      <% theme.rightmenu.layout.forEach(function(item){ %>
        <% if (item == 'hr') { %>
          <hr>
        <% } else if (item == 'navigation') { %>
          <li class='navigation'>
            <a class='nav icon-only fix-cursor-default' onclick='history.back()'><i class='fa fa-arrow-left fa-fw'></i></a>
            <a class='nav icon-only fix-cursor-default' onclick='history.forward()'><i class='fa fa-arrow-right fa-fw'></i></a>
            <a class='nav icon-only fix-cursor-default' onclick='window.location.reload()'><i class='fa fa-redo fa-fw'></i></a>
            <a class='nav icon-only fix-cursor-default' href='/'><i class='fa fa-home fa-fw'></i></a>
          </li>
        <% } else if (item == 'music' && theme.plugins.aplayer.enable == true) { %>
          <li class='music name'>
            <p class='nav music-title fix-cursor-default'></p>
          </li>
          <li class='music ctrl'>
            <a class='nav icon-only backward fix-cursor-default' onclick='aplayerBackward()'><i class='fa fa-step-backward fa-fw'></i></a>
            <a class='nav icon-only toggle fix-cursor-default' onclick='aplayerToggle()'><i class='fa fa-play fa-fw'></i></a>
            <a class='nav icon-only forward fix-cursor-default' onclick='aplayerForward()'><i class='fa fa-step-forward fa-fw'></i></a>
          </li>
          <li class='music volume'>
            <a class='nav volume'>
              <div class="aplayer-volume-bar-wrap">
                <div class="aplayer-volume-bar fix-cursor-pointer">
                  <div class="aplayer-volume"></div>
                  <i class='left fa fa-volume-off fa-fw'></i>
                  <i class='right fa fa-volume-up fa-fw'></i>
                </div>
              </div>
            </a>
          </li>
        <% } else if (item in theme.rightmenu) { %>
          <% loadmenu(theme.rightmenu[item]) %>
        <% } %>
      <% }) %>
    </ul>
  </div>

  <script>
    window.document.oncontextmenu = function () {
      return false;
    };
    document.addEventListener("click", function (event) {
      var mymenu = document.getElementById('rightmenu-wrapper');
      mymenu.style.display = "none";
    });
    window.document.oncontextmenu = function (event) {
      if (event.ctrlKey) return true;
      if(/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) return true;
      return popMenu(event);
    };
    function popMenu(event) {
      var mymenu = document.getElementById('rightmenu-wrapper');
      var menuContent = document.getElementById('rightmenu-content');
      var screenWidth = document.documentElement.clientWidth || document.body.clientWidth;
      var screenHeight = document.documentElement.clientHeight || document.body.clientHeight;
      mymenu.style.left = event.clientX + "px"; // 获取鼠标位置
      mymenu.style.top = event.clientY + "px";
      mymenu.style.display = 'block';
      if (event.clientX * 2 > screenWidth) {
        menuContent.classList.add('left');
      } else {
        menuContent.classList.remove('left');
      }
      if (event.clientY * 2 > screenHeight) {
        menuContent.classList.add('top');
      } else {
        menuContent.classList.remove('top');
      }

      // 选中文本
      if (window.getSelection().toString()) {
        document.getElementById('menu-copy').style.display = 'block';
      } else {
        document.getElementById('menu-copy').style.display = 'none';
      }

      // 选中图片
      if (event.toElement.currentSrc) {
        document.getElementById('menu-copy-img').style.display = 'block';
        document.getElementById('menu-copy-img').addEventListener("click", function (e) {
          copyString(event.toElement.currentSrc);
        },{once: true});
      } else {
        document.getElementById('menu-copy-img').style.display = 'none';
      }

      // 有音乐播放器
      if (<%= theme.plugins.aplayer.enable %> == true) {
        // 如果有aplayer，初始化一下
      	try {
      		checkAPlayer();
          updateTitle();
      	} catch (error) {
      		console.log(error);
      	}
      }
      
      return false; // 该行代码确保系统自带的右键菜单不会被调出
    }
    function hideMenu() {
      document.getElementById('rightmenu-wrapper').style.display = 'none';
    }
    function copyString(str) {
      const input = document.createElement('input');
      input.setAttribute('readonly', 'readonly');
      document.body.appendChild(input);
      input.setAttribute('value', str);
      input.select();
      document.execCommand('copy');
      document.body.removeChild(input);
    }
    document.execCommand('click');
  </script>
<% } %>
