<% if (theme.plugins.rightmenu) { %>
    <div id="menu-div" style="display: none;position:fixed;z-index: 2000;">
      <ul class="list-v" id="menu-content" style="display: block;width: 120px;">
        <li>
          <a class="flat-box waves-effect waves-block" style="display: none;" id="menu-copy" onclick="menuCopy()">
            <i class="fa fa-copy fa-fw"></i> 复制
          </a>
        </li>
        <li>
          <a class="flat-box waves-effect waves-block" onclick="history.back()">
            <i class="fa fa-arrow-left fa-fw"></i> 返回
          </a>
        </li> 
        <li>
          <a class="flat-box waves-effect waves-block" onclick="window.location.reload()">
            <i class="fa fa-redo fa-fw"></i> 刷新
          </a>
        </li>
        <hr>
        <%
          let menu_list;
          if (site.data && site.data.rightmenu && site.data.rightmenu) {
            menu_list = site.data.rightmenu;
          } else {
            menu_list = theme.navbar.rightmenu;
          }
          menu_list = menu_list || [];
          %>
          <% function menu(value, type) { %>
            <% if (value.name == 'hr') { %>
              <hr>
            <% } else if (value.icon && value.icon.indexOf('fa-compact-disc') > -1 && value.url  == undefined && value.rows  == undefined) { %>
              <% if (type == 'pc') { %>
                <li>
                  <a class="flat-box waves-effect waves-block">
                    <i class='<%= value.icon %> fa-fw music'></i> <%- value.name %>
                  </a>
                  <ul class="list-v">
                    <li>
                      <div class="aplayer-container">
                        <%- partial('../_third-party/aplayer', {post: null, where: 'footer'}) %>
                      </div>
                    </li>
                  </ul>
                <li>
              <% } %>
            <% } else if (value.name != undefined && value.url  == undefined && value.rows == undefined) { %>
              <li class="flat-box waves-effect waves-block">
                <% if (value.icon) { %><i class='<%= value.icon %> fa-fw'></i><% } %> <%- value.name %>
              </li>
            <% } else { %>
              <li>
                <a class="flat-box waves-effect waves-block" <%= value.url ? 'href='+ url_for(value.url)+'' : ''%>
                  <% if (value.rel) { %>
                    rel="<%- value.rel %>"
                  <% } %>
                  <% if (value.target) { %>
                    target="<%- value.target %>"
                  <% } %>
                  <% if (value.url) { %>
                    id="<%= url_for(value.url).replace(/\/|%|\./g, "")?url_for(value.url).replace(/\/|%|\./g, ""):"home" %>"
                  <% } %>>
                  <% if (value.icon) { %><i class='<%= value.icon %> fa-fw'></i><% } %> <%- value.name %>
                </a>
                <% if (value.rows) { %>
                  <ul class="list-v">
                    <% value.rows.forEach(function(value){ %>
                      <% menu(value, type) %>
                    <%})%>
                  </ul>
                <% } %>
              </li>
            <% } %>
          <% } %>
          <% menu_list.forEach(function(value){ %>
            <% menu(value, 'pc') %>
          <% }) %>
        <% if (theme.plugins.aplayer.enable) { %>
        <hr>
        <li>
          <a class="flat-box">
            <i class='fa fa-music fa-fw'></i> 音乐
          </a>
          <ul class="list-v" id="menu-showMusciCard">
            <li>
              <a class="flat-box waves-effect" onclick="menuPlay()">
                <i class="fa fa-play fa-fw"></i> 播放
              </a>
            </li>
            <li>
              <a class="flat-box waves-effect" onclick="menuPause()">
                <i class="fa fa-pause fa-fw"></i> 暂停
              </a>
            </li>
            <li>
              <a class="flat-box waves-effect" onclick="menuBackward()">
                <i class="fa fa-angle-double-left fa-fw"></i> 上一首
              </a>
            </li>
            <li>
              <a class="flat-box waves-effect" onclick="menuForward()">
                <i class="fa fa-angle-double-right fa-fw"></i> 下一首
              </a>
            </li>
          </ul>
        <li>
        <% } %>
      </ul>
    </div>
    
    <script>
      window.document.oncontextmenu = function () {
        return false;
      };
      document.addEventListener("click", function (event) {
        var mymenu = document.getElementById('menu-div');
        mymenu.style.display = "none";
      });
      function popMenu(event) {
        var copy = document.getElementById('menu-copy');
        var select = window.getSelection().toString(); // 鼠标选中的文本
        copy.style.display = select == "" ? "none" : "block";
        var mymenu = document.getElementById('menu-div');
        var menuContent = document.getElementById('menu-content');
        var menuMusicCard = document.getElementById('menu-showMusciCard');
        var mouseClientX = event.clientX;
        var mouseClientY = event.clientY;
        var menuWidth = menuContent.offsetWidth == 0 ? 120 : menuContent.offsetWidth;
        var menuHeight = menuContent.offsetHeight == 0 ? 242 : menuContent.offsetHeight;
        var screenWidth = document.documentElement.clientWidth || document.body.clientWidth;
        var screenHeight = document.documentElement.clientHeight || document.body.clientHeight;
        var showLeft = mouseClientX + menuWidth > screenWidth ? mouseClientX - menuWidth + 10 : mouseClientX;
        var showTop = mouseClientY + menuHeight > screenHeight ? mouseClientY - menuHeight + 10 : mouseClientY;
        mymenu.style.left = showLeft + "px"; // 获取鼠标位置
        mymenu.style.top = showTop + "px";
        mymenu.style.display = 'block';
        // 音乐控制弹出层位置
        if (mouseClientY + menuHeight  + 100 > screenHeight) {
          menuMusicCard.style.marginTop = '-150px';
        } else {
          menuMusicCard.style.marginTop = '';
        }
        if (mouseClientX + menuWidth  + 110 > screenWidth) {
          menuMusicCard.style.marginLeft = '-100px';
        } else {
          menuMusicCard.style.marginLeft = '110px';
        }
        return false; // 该行代码确保系统自带的右键菜单不会被调出
      }
      function hideMenu() {
        document.getElementById('menu-div').style.display = 'none';
      }
      // 此处无需处理 js 加载异常
      function menuPlay() {
        var canplay = getCookie('canplay');
        if( canplay == null || canplay == 'true') {
          document.querySelector('meting-js').aplayer.play();
        }
      }
      function menuPause() {
        var canplay = getCookie('canplay');
        if( canplay == null || canplay == 'true') {
          document.querySelector('meting-js').aplayer.pause();
          var index = document.querySelector('meting-js').aplayer.list.index;
          var title = document.querySelector('meting-js').aplayer.list.audios[index].title;
          var artist = document.querySelector('meting-js').aplayer.list.audios[index].artist;
        }
      }
      function menuBackward() {
        var canplay = getCookie('canplay');
        if( canplay == null || canplay == 'true') {
          document.querySelector('meting-js').aplayer.skipBack();
          document.querySelector('meting-js').aplayer.play();
        }
      }
      function menuForward() {
        var canplay = getCookie('canplay');
        if( canplay == null || canplay == 'true') {
          document.querySelector('meting-js').aplayer.skipForward();
          document.querySelector('meting-js').aplayer.play();
        }
      }
      function menuCopy() {
        document.execCommand("Copy"); 
      }
    </script>
<% } %>
