<% let snackbar = site.data.notification[page.snackbar] %>
  <% if (snackbar.action && snackbar.action.length > 0) { %>
    <% snackbar.action.forEach((ac, i) => { %>
      <% if (ac.dismiss) { %>
        <script>
          $.message({ title: '<%- snackbar.title %>', message: '<%- snackbar.message %><br>' + "<a href='<%- ac.url %>'><%- ac.title %></a>", type: '<%- snackbar.theme %>' });
        </script>
      <% } else { %>
        <script>
          $.message({ title: '<%- snackbar.title %>', message: '<%- snackbar.message %><br>' + "<a href='<%- ac.url %>'><%- ac.title %></a>", autoClose:!1, type: '<%- snackbar.theme %>' });
        </script>
      <% } %>
    <% }) %>
  <% } %>
