<% let snackbar = site.data.notification[page.snackbar] %>
<div class='snackbar-wrap' theme='<%- snackbar.theme %>'>
  <div class="snackbar-content">
    <div class='title'><%- markdown(snackbar.title) %></div>
    <div class='message'><%- markdown(snackbar.message) %></div>
    <% if (snackbar.action && snackbar.action.length > 0) { %>
      <div class="action">
        <% snackbar.action.forEach((ac, i) => { %>
          <% if (ac.dismiss) { %>
            <a onclick="document.getElementsByClassName('snackbar-wrap')[0].style.display = 'none'">
              <%- ac.title %>
            </a>
          <% } else { %>
            <a href='<%- ac.url %>'>
              <%- ac.title %>
            </a>
          <% } %>
        <% }) %>
      </div>
    <% } %>
  </div>
</div>
