<% if (theme.cover.logo) { %>
  <img class='logo' src='<%- url_for(theme.cover.logo) %>'/>
<% } else { %>
  <p class="title <%- theme.backstretch && theme.backstretch.is_dark ? 'white' : '' %>"><%- theme.cover.title ? theme.cover.title : config.title %></p>
  <% if (theme.cover.subtitle) { %>
    <p class="subtitle <%- theme.backstretch && theme.backstretch.is_dark ? 'white' : '' %>"><%- theme.cover.subtitle%></p>
  <% } %>
<% } %>
<% if (theme.search.enable === true) { %>
  <div class="m_search">
    <form name="searchform" class="form u-search-form">
      <i class="icon fas fa-search fa-fw"></i>
      <input type="text" class="input u-search-input" placeholder="<%- theme.cover && theme.cover.search %>" />
    </form>
  </div>
<% } %>
<div class='menu navigation'>
  <ul class='h-list'>
    <% if (theme.cover.features) { %>
      <% (theme.cover.features || []).forEach(function(value){ %>
        <li>
          <a class="nav home <%- theme.backstretch && theme.backstretch.is_dark ? 'white' : '' %>"
            href="<%= url_for(value.url) %>"
            <% if (value.rel) { %>
              rel="<%- value.rel %>"
            <% } %>
            <% if (value.target) { %>
              target="<%- value.target %>"
            <% } %>
            id="<%= url_for(value.url).replace(/\/|%/g, "")?url_for(value.url).replace(/\/|%/g, ""):"home" %>">
            <i class='<%= value.icon %> fa-fw'></i>&nbsp;<%= __('navbar.'+value.name) == ('navbar.'+value.name) ? value.name : __('navbar.'+value.name) %>
          </a>
        </li>
      <%})%>
    <% } %>
  </ul>
</div>
