<% if (theme.cover.logo) { %>
  <img class='logo' src='<%- url_for(theme.cover.logo) %>'/>
<% } else { %>
  <h1 class='title'><%- theme.cover.title ? theme.cover.title : config.title %></h1>
<% } %>
<% if (theme.search.enable === true) { %>
  <div class="m_search">
    <form name="searchform" class="form u-search-form">
      <input type="text" class="input u-search-input" placeholder="<%- theme.cover.search_placeholder %>" />
      <i class="icon fas fa-search fa-fw"></i>
    </form>
  </div>
<% } %>
<div class='menu navgation'>
  <ul class='h-list'>
    <% if (theme.cover.features) { %>
      <% (theme.cover.features || []).forEach(function(value){ %>
        <li>
          <a class="nav home" href="<%= url_for(value.url) %>"
            <% if (value.rel) { %>
              rel="<%- value.rel %>"
            <% } %>
            <% if (value.target) { %>
              target="<%- value.target %>"
            <% } %>
            id="<%= url_for(value.url).replace(/\/|%/g, "")?url_for(value.url).replace(/\/|%/g, ""):"home" %>">
            <i class='<%= value.icon %> fa-fw'></i>&nbsp;<%= __('navbar.'+value.name) == ('navbar.'+value.name) ? value.name : __('navbar.'+value.name) %>
          </a>
        </li>
      <%})%>
    <% } %>
  </ul>
</div>
