<div class="new-meta-item share -mob-share-list">
  <div class="-mob-share-list share-body">
    <% (theme.meta.share||[]).forEach(function(item){ %>
      <% if (item.id == 'qrcode'){ %>
        <% var src = qrcode(url,{margin:1,size:8}); %>
        <div class='hoverbox'>
          <a class='share'><img src="<%- item.img %>"></a>
          <div class='target'>
            <img src="<%- src %>">
          </div>
        </div>
      <% } else { %>
        <a class="-mob-share-<%- item.id %>" title="<%- item.name %>" rel="external nofollow noopener noreferrer"
          <% if (item.id == 'qzone'){ %>
          href="https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=<%- post.permalink %>&title=<%- (post.seo_title || post.title) + ' - ' + config.title %><%- (post.thumbnail) ? '&pics=' + (post.thumbnail) : '' %>&summary=<%- strip_html(post.excerpt) %>"
          <% } else if (item.id == 'qq'){ %>
          href="http://connect.qq.com/widget/shareqq/index.html?url=<%- post.permalink %>&title=<%- (post.seo_title || post.title) + ' - ' + config.title %><%- (post.thumbnail) ? '&pics=' + (post.thumbnail) : '' %>&summary=<%- strip_html(post.excerpt) %>"
          <% } else if (item.id == 'weibo'){ %>
          href="http://service.weibo.com/share/share.php?url=<%- post.permalink %>&title=<%- (post.seo_title || post.title) + ' - ' + config.title %><%- (post.thumbnail) ? '&pics=' + (post.thumbnail) : '' %>&summary=<%- strip_html(post.excerpt) %>"
          <% } else if (item.id == 'telegram'){ %>
            href="https://t.me/share/url?url=<%- post.permalink %>&text=<%- (post.seo_title || post.title) + ' - ' + config.title %>"
          <% } %>
          >
          <% if (item.img){ %>
            <img src="<%- item.img %>">
          <% } else if (item.icon){ %>
            <i class="<%- item.icon %> fa-fw"></i>
          <% } %>
        </a>
      <% } %>
    <% }) %>
  </div>
</div>
