<script>
    volantis.layoutHelper("page-plugins", `<div id="hexo-circle-of-friends-root"></div>`, { pjax: false }) // 外层有 pjax 标签
</script>
<script>
    let UserConfig = {
        private_api_url: '<%- theme.plugins.fcircle.private_api_url %>',
        page_turning_number: '<%- theme.plugins.fcircle.page_turning_number %>',
        error_img: '<%- theme.plugins.fcircle.error_img%>',
        sort_rule: '<%- theme.plugins.fcircle.sort_rule %>'
    }
</script>
<script type="text/javascript" src="<%- theme.plugins.fcircle.app %>"></script>
<script type="text/javascript" src="<%- theme.plugins.fcircle.bundle %>"></script>
