<% if(post && post.btns){ %>
  <div class='new-meta-item link-btns'>
    <% if(post.btns.repo){ %>
      <a class='btn flat-box' href='<%- post.btns.repo %>' style='background: <%- theme.meta.btns.repo.color %>'>
        <i class='<%- theme.meta.btns.repo.icon %>' aria-hidden='true'></i>
        <p><%- theme.meta.btns.repo.title %></p>
      </a>
    <% } %>
    <% if(post.btns.bug){ %>
      <a class='btn flat-box' href='<%- post.btns.bug %>' style='background: <%- theme.meta.btns.bug.color %>'>
        <i class='<%- theme.meta.btns.bug.icon %>' aria-hidden='true'></i>
        <p><%- theme.meta.btns.bug.title %></p>
      </a>
    <% } %>
    <% if(post.btns.doubt){ %>
      <a class='btn flat-box' href='<%- post.btns.doubt %>' style='background: <%- theme.meta.btns.doubt.color %>'>
        <i class='<%- theme.meta.btns.doubt.icon %>' aria-hidden='true'></i>
        <p><%- theme.meta.btns.doubt.title %></p>
      </a>
    <% } %>
    <% if(post.btns.idea){ %>
      <a class='btn flat-box' href='<%- post.btns.idea %>' style='background: <%- theme.meta.btns.idea.color %>'>
        <i class='<%- theme.meta.btns.idea.icon %>' aria-hidden='true'></i>
        <p><%- theme.meta.btns.idea.title %></p>
      </a>
    <% } %>
    <% if(post.btns.faq){ %>
      <a class='btn flat-box' href='<%- post.btns.faq %>' style='background: <%- theme.meta.btns.faq.color %>'>
        <i class='<%- theme.meta.btns.faq.icon %>' aria-hidden='true'></i>
        <p><%- theme.meta.btns.faq.title %></p>
      </a>
    <% } %>
    <% if(post.btns.feedback){ %>
      <a class='btn flat-box' href='<%- post.btns.feedback %>' style='background: <%- theme.meta.btns.feedback.color %>'>
        <i class='<%- theme.meta.btns.feedback.icon %>' aria-hidden='true'></i>
        <p><%- theme.meta.btns.feedback.title %></p>
      </a>
    <% } %>
    <% if(post.btns.edit){ %>
      <a class='btn flat-box' href='<%- post.btns.edit %>' style='background: <%- theme.meta.btns.edit.color %>'>
        <i class='<%- theme.meta.btns.edit.icon %>' aria-hidden='true'></i>
        <p><%- theme.meta.btns.edit.title %></p>
      </a>
    <% } %>
  </div>
<% } %>
