<% if (theme.analytics && theme.analytics.leancloud && theme.analytics.leancloud.app_id) { %>
  <div class="new-meta-item browse leancloud">
    <a class='notlink'>
      <%
        var path = post.path || page.path;
        if (path.length > 9 && (path.substring(path.length - 10) == 'index.html')) {
          path = path.substring(0, path.length - 10);
        }
      %>
      <div id="lc-pv" data-title="<%- post.title || page.title %>" data-path="<%- url_for(path) %>">
        <i class="<%- theme.article.body.meta_library.counter.icon %> fa-fw" aria-hidden="true"></i>
        <span id='number'><i class="fas fa-circle-notch fa-spin fa-fw" aria-hidden="true"></i></span>
        <%- theme.article.body.meta_library.counter.unit %>
      </div>
    </a>
  </div>
<% } else if (theme.analytics.busuanzi) { %>
  <div class="new-meta-item browse busuanzi">
    <a class='notlink'>
      <i class="<%- theme.article.body.meta_library.counter.icon %> fa-fw" aria-hidden="true"></i>
      <p>
        <span id="busuanzi_value_page_pv">
          <i class="fas fa-circle-notch fa-spin fa-fw" aria-hidden="true"></i>
        </span>
        <%- theme.article.body.meta_library.counter.unit %>
      </p>
    </a>
  </div>
<% } else if (
    (theme.comments.service=='valine' && theme.comments.valine.visitor) || 
    (theme.comments.service=='minivaline' && theme.comments.minivaline.visitor) || 
    (theme.comments.service=='waline' && theme.comments.waline.visitor)) { %>
  <div class="new-meta-item browse">
    <a class='notlink'>
      <i class="<%- theme.article.body.meta_library.counter.icon %> fa-fw" aria-hidden="true"></i>
      <%
        var path = post.path || page.path;
        if (path.length > 9 && (path.substring(path.length - 10) == 'index.html')) {
          path = path.substring(0, path.length - 10);
        }
      %>
      <span id="<%- url_for(path) %>" class="leancloud_visitors" data-flag-title="<%- post.title || page.title %>">
      <p>
        <span class="leancloud-visitors-count"></span>
      </p>
      </span>
    </a>
  </div>
<% } else if (theme.comments.service=='twikoo' && !!page.comments) { %>
  <div class="new-meta-item browse">
    <a class='notlink'>
      <i class="<%- theme.article.body.meta_library.counter.icon %> fa-fw" aria-hidden="true"></i>
      <p>
        <span id="twikoo_visitors"></span>
      </p>
      </span>
    </a>
  </div>
<% } %>
