<%
  let path = post.path || page.path;
  let commentPath;
  if (theme.comments.service && theme.comments.service.length > 0) {
    let service = theme.comments.service;
    if (page.comments == undefined || page.comments != false) {
      if (service in page && page[service].path) {
        commentPath = page[service].path;
      }
    }
  }

  if(commentPath) path = commentPath;
  path = path.replaceAll('/index.html', '/').replaceAll('.html', '')

  let checkComment = false;
  if (theme.analytics && theme.analytics.leancloud && theme.analytics.leancloud.app_id
    || theme.analytics.busuanzi
    || theme.comments.service=='waline' && theme.comments.waline.pageview
    || theme.comments.service=='twikoo'
    || theme.comments.service=='discuss'
    || theme.comments.service=='artalk') {
    checkComment = !checkComment;
  } 
%>

<% if (!!page.comments && checkComment) { %>
<div class="new-meta-item browse">
  <a class='notlink'>
    <p>
      <i class="<%- theme.article.body.meta_library.counter.icon %> fa-fw" aria-hidden="true"></i>
      <% if (theme.analytics && theme.analytics.leancloud && theme.analytics.leancloud.app_id) { %>
      <span id="lc-pv" data-title="<%- post.title || page.title %>" data-path="<%- url_for(path) %>">
        <span id='number'><i class="fa-solid fa-loader fa-spin fa-fw" aria-hidden="true"></i></span>
      </span>
      <% } else if (theme.analytics.busuanzi) { %>
      <span id="busuanzi_value_page_pv"><i class="fa-solid fa-loader fa-spin fa-fw" aria-hidden="true"></i></span>
      <% } else if (theme.comments.service=='waline' && theme.comments.waline.pageview) { %>
      <span data-path="<%- url_for(path) %>" class="waline-pageview-count">
        <i class="fa-solid fa-loader fa-spin fa-fw" aria-hidden="true"></i>
      </span>
      <% } else if (theme.comments.service=='twikoo') { %>
      <span id="twikoo_visitors">
        <i class="fa-solid fa-loader fa-spin fa-fw" aria-hidden="true"></i>
      </span>
      <% } else if (theme.comments.service=='discuss') { %>
      <span id="Discuss-Visitors">
        <i class="fa-solid fa-loader fa-spin fa-fw" aria-hidden="true"></i>
      </span>
      <% } else if (theme.comments.service=='artalk') { %>
      <span id="artalk_visitors" data-page-key="<%- url_for(path) %>">
        <i class="fa-light fa-loader fa-spin fa-fw" aria-hidden="true"></i>
      </span>
      <% } %>
      <span><%- theme.article.body.meta_library.counter.unit %></span>
    </p>
  </a>
</div>
<% } %>
